[2015-02-19 09:58] fsmanuel opened #1 "Add sessionStorage"
- [x] Array
- [x] Object

[2015-02-22 21:46] #1 closed

[2015-04-28 23:18] fsmanuel opened #4 "Expose a function to retrieve the storage if available"
The function returns null in case there is no storage or the storage itself.
- [x]  `tryStorage(type) # will return null or the nativeStorage`
- [x] `getStorage(type, fallback = {})`
  - [x] type 'session'
  - [x] type 'local'
  - [x] fallback is optional and can be a polyfill
- [ ] add an initializer that sets the polyfill

[2015-06-05 08:11] jigneshchudasama05 opened #6 "addObject storing null values"
When i try to add new object on click without refreshing page in localstorage then its storing the existing value and setting null for the other data exiting in that, and when i repeat this after refreshing the page its working properly.

[2015-06-05 09:20] fsmanuel commented on #6
@jigneshchudasama05 thanks for reporting. Can you give me more details on your setup (addon version and ember version) and how you setup the localStorageArray?

[2015-06-05 09:33] jigneshchudasama05 commented on #6
@fsmanuel
"ember": "1.11.1",
"ember-local-storage": "0.0.4"

// Adding object to localstorage
this.get('localSubmissions').addObject({ //adding object to localstorage
    user_data: user, //user data
    feedback_template_id: _this.get('client.feedback_template.id'), // template data
    client_id: _this.get('client.id'), //client data
    feedbacks_data: _this.get('validFeedbacks') //feedbacks da

[2015-06-05 16:16] fsmanuel commented on #6
@jigneshchudasama05 can you also provide the json from localStorage when it fails and when it works?

[2015-06-22 16:33] miguelcobain opened #7 "reset method"
It might make sense to add a `reset()` method to `StorageObject` that basically does `this.setProperties(this.initialContent);`.

What do you think?

[2015-06-23 18:48] fsmanuel commented on #7
Sounds good to me. Do you mind open a PR?

[2015-06-24 11:45] #7 closed

[2015-06-24 12:06] fsmanuel commented on #7
@miguelcobain thanks again for both the cli update and the new feature. much obliged.

[2015-06-24 12:11] fsmanuel commented on #6
@jigneshchudasama05 any news? maybe the `0.0.5` release fixed your issue?

[2015-06-24 12:16] fsmanuel opened #10 "Error: Ember.create is deprecated in-favour of Object.create"
ember-release
ember-beta
ember-canary

https://travis-ci.org/funkensturm/ember-local-storage/jobs/68064857#L480

[2015-06-24 13:03] miguelcobain commented on #7
No problem, mate. :boat:

[2015-06-28 13:14] #10 closed

[2015-06-29 08:51] fsmanuel commented on #6
@jigneshchudasama05 i'm closing. we can reopen if there are still problems.

[2015-06-29 08:51] #6 closed

[2015-07-14 10:46] vuhrmeister opened #11 "Add new method destroy()"
In addition to the `reset` method I think it would be cool to be able to completely remove the data from the storage by calling `destroy()` or something.

[2015-07-14 10:49] vuhrmeister opened #12 "Adding method to check whether model is new"
A method like `isNew` or `isInitialData`(I'm not that creative) to check whether the model is modified or in original state.

[2015-07-14 12:23] fsmanuel commented on #11
@vuhrmeister `destroy()` isn't a good name because it would destroy the `Ember.Object` but i can see your point. I guess `clear` would be a good one.

I think all we need is:
[code]
and some tests. Do you want to take a stab at that?

[2015-07-14 12:27] fsmanuel commented on #12
@vuhrmeister Can you elaborate on a particular use case? That would make it more easy to figure out what kind of life cycle infos/hooks we need.

[2015-07-14 12:30] fsmanuel opened #13 "add ember-cli-release"

[2015-07-15 11:51] vuhrmeister commented on #12
Yes, sure.

In an order process I have an `basket` model, where I store data like articles and some order details.
In several places I have to check wether the user has changed the data or if the data are the initial one. I don't want to check each attribute on wether it was changed or not.

[2015-07-15 11:55] vuhrmeister commented on #11
Ok, you're right. `destroy()` is not good. But `clear()` is just fine.

Yes, I can add that feature as soon as I come to that point.

[2015-07-15 12:08] fsmanuel commented on #12
You only need the information if it's the initial data? That should be easy. I'll implement it in the next days.

[2015-07-15 12:29] vuhrmeister commented on #12
Correct, I only need that information. Sounds good (y)

[2015-07-15 14:44] #12 closed

[2015-07-15 15:39] fsmanuel commented on #11
@vuhrmeister i implemented `.clear()` can you review?

[2015-07-15 22:05] vuhrmeister commented on #12
awesome, thx :)

[2015-07-15 22:09] vuhrmeister commented on #11
Yes. Will have a look at it tomorrow and test it as well.

[2015-07-16 12:27] vuhrmeister commented on #12
It seems there is an issue with that implementation.
I just installed the master branch and now I have the following issue:

Calling reset on **some** objects does not have any effect. It doesn't change in local storage.
However, installing version 0.0.5 again fixes the issue.

But still, with 0.0.5 it resets only objects, not arrays.

I tried hard to find out what's the issue. I can't tell you. I

[2015-07-16 12:37] vuhrmeister commented on #11
Looks fine and works!

[2015-07-16 12:41] fsmanuel commented on #12
@vuhrmeister i know why. will fix it by merging the `.clear()` PR

[2015-07-16 12:42] #11 closed

[2015-07-16 12:45] fsmanuel commented on #12
@vuhrmeister can you try again with master?

[2015-07-16 12:50] vuhrmeister commented on #12
Great, works!

But still reset on array does not work.

[2015-07-16 12:53] fsmanuel commented on #12
I'll have a look.

[2015-07-16 12:53] fsmanuel opened #17 ".reset() does not work for arrays"

[2015-07-16 16:12] vuhrmeister commented on #17
One interesting point is: The data in local storage is not removed but the implementation of the StorageArray returns an empty array or 0 for `length`!

[2015-07-16 16:18] fsmanuel commented on #17
good to know.

[2015-07-17 16:29] #17 closed

[2015-07-17 16:30] fsmanuel commented on #17
@vuhrmeister can you verify that master is working?

[2015-07-20 10:14] fsmanuel commented on #17
@vuhrmeister i'll cut a new release if master is working now. can you confirm?

[2015-07-20 11:33] vuhrmeister commented on #17
Sorry, I wasn't available the weekend. Will check it now.

[2015-07-20 11:44] vuhrmeister commented on #17
Yay, works perfectly (y)

[2015-07-20 11:57] fsmanuel commented on #17
great! thanks for all your feedback and testing. i'll release tonight.

[2015-07-20 12:00] vuhrmeister commented on #17
yw - I have to thank you for the quick implementation!

[2015-07-21 08:07] #13 closed

[2015-07-21 08:22] fsmanuel commented on #17
0.0.6 released

[2015-07-22 16:10] tmaynx opened #20 "Cannot set values on deep neested properties"
Hi everybody,

I've a object that looks this:
[code]

It is easily possible to set values on the first level (eg. details.address), but there's no chance to change values on a deeper level (eg. details.address.first).

Ember recognizes the change an show the right value, if I render the output on my template. But the local storage item shows no change.

Any suggestions to solve this issue?

[2015-07-22 16:17] fsmanuel commented on #20
How do you set the deep values?
Something like that: `settings.set('details.address.first', {street: 'Somestreet'})`

[2015-07-23 06:49] tmaynx commented on #20
Almost this way.
I'm using: ´´´settings.set('details.address.first', addressObj)´´´. The variable "addressObj" contains an object address with multiple properties.

[2015-07-23 09:26] fsmanuel commented on #20
What is your `initialContent`? I'll add a test and than fix it.

[2015-07-23 09:30] tmaynx commented on #20
Here is an extract from my code with replaced property names:

[code]

Sounds great, thank you for help!

[2015-07-23 09:51] fsmanuel commented on #20
I added a test but it's not failing.
The [model](https://github.com/funkensturm/ember-local-storage/blob/master/tests/dummy/app/models/nested-object.js)
The [test](https://github.com/funkensturm/ember-local-storage/blob/master/tests/unit/object-test.js#L21)

Can you verify that you use it the same way?

[2015-07-23 09:54] fsmanuel commented on #20
It should be:
`details.set('address.first', addressObj);`

details should not be in the set path.

[2015-07-23 11:49] fsmanuel opened #21 "DS Adapter"
- [x] README
 - [x] application adapter import
 - [x] application serializer import
 - [x] initializer for `store.importData()`/`store.exportData()`

[2015-07-24 11:30] fsmanuel commented on #20
@tmaynx did it work?

[2015-07-24 14:43] tmaynx commented on #20
Sorry for my late answer, didn't saw your response.

Yes, it works this way, thank you for explanations. Thought it would be possible to set deeper paths as first arguments in the `set`method, but this works fine for me.

Thank you for quick answers!

[2015-07-26 07:07] #20 closed

[2015-07-27 07:28] sunil-shrestha opened #22 "restoring array of objects from local storage and pushMany to memory storage"
I was trying to restore array of objects from local storage and pushMany to memory storage when application is ready. It seems that the object in the array does not include id, due to which i was not able do so. Would it be possible to include id for each object while pushing to local storage? Or is there some solution to this kind of cases?

[2015-07-27 11:09] fsmanuel commented on #22
@sunil-shrestha i guess what you are looking for is an ember-data adapter.
I have an experimental branch with an [adapter](https://github.com/funkensturm/ember-local-storage/tree/feat/adapter). I plan to release it this week.

[2015-07-27 11:32] sunil-shrestha commented on #22
Yeap, adapter would be great. Thanks !

[2015-07-30 00:00] Kilowhisky opened #23 "Feature Request: restore nested ember object."
It would be great if the addon had the ability to restore full-blown ember objects that it has as properties. For instance an object that has nested sub objects of a different type. Right now it can restore nested objects but the objects restored are POJOs and because of that property changes on them cannot be observed/triggered.

Would it be as simple as storing an object type key along with it a

[2015-07-30 00:01] skaterdav85 opened #24 "Editing an object in an array"
Say you have an array of objects. How can I edit one of those objects given the index? I've tried this:

[code]

I get an error that says set is not a function.

[2015-07-31 11:33] vuhrmeister opened #25 "Changes on object in array are not saved"
Hi, it's me again :)

I'm not sure if that's by purpose or if there is still a bug. At least it reminds me on https://github.com/funkensturm/ember-local-storage/issues/17.

My scenario is that I have an array of objects which will change from time to time.
It is important that the item stays at the original index why I can't just remove and add id again.

`items` is an array and look like:
[code]

[2015-08-02 07:31] fsmanuel commented on #25
@vuhrmeister in your use case we could save on `arrayContentDidChange()` but it looks more like you want to have a real model and an adapter. I have to add docs and some cleanup before I can release the adapter. I'll ping here as soon as I release.

[2015-08-02 07:48] fsmanuel commented on #24
@skaterdav85 the object at index is a POJO and not an `Ember.Object`. The array isn't really useful for objects. It's more a list to add and remove simple items from.
Can you elaborate on your use case? Maybe the upcoming [adapter](https://github.com/funkensturm/ember-local-storage/issues/21) can solve your problem.

[2015-08-02 07:48] fsmanuel commented on #23
@Kilowhisky the question is how deep do you want to nest? Is there a limit or nor. Can you elaborate on your use case? Maybe the upcoming [adapter](https://github.com/funkensturm/ember-local-storage/issues/21) can solve your problem.

[2015-08-02 07:49] fsmanuel commented on #22
https://github.com/funkensturm/ember-local-storage/issues/21

[2015-08-02 07:50] fsmanuel commented on #25
https://github.com/funkensturm/ember-local-storage/issues/21

[2015-08-02 15:08] Kilowhisky commented on #23
I would say practically a limit probably shouldn't exist. Here is my use case.

I have my main object that represents the state for a page.  The main object contains an array of state objects for sub-tables. There can be many tables shown or 1 table shown. Each table shown can have sub-objects that represent sub-states. Ever object in the chain needs to be able to be tracked via. get/set propertie

[2015-08-03 07:56] skaterdav85 commented on #24
Basically I was thinking of using this as a replacement for the [local storage adapter](https://github.com/kurko/ember-localstorage-adapter) because that project doesn't look maintained anymore and the build has been showing failing for awhile now. My use case was to make a shopping cart where order-items is an array of objects and each order-item object could be edited, such as editing the quanti

[2015-08-03 13:54] vuhrmeister commented on #25
Well, not necessarily … but ok, will wait for your adapter, maybe I will switch then. Right now it's working since I have implemented a small workaround.

[2015-08-04 06:08] tonkonogov opened #26 "Dynamic property in the initialContent object"
Hi, I use a i18n package for ember and I specified the default value for locale in env.js file.

Now I want to store the current language in localStorage, but I want to avoid copy-paste for the default value and keep it only in env.js. Something like this:

    initialContent: {
       locale: %default_value%
    }

 I can't use `this.get('i18n.defaultLocale')` (a usual way) for that, since it's a

[2015-08-04 06:17] fsmanuel commented on #26
@tonkonogov you can import your env.js

[code]

[2015-08-04 06:34] tonkonogov commented on #26
Yeap, it was a pretty obvious solution that I missed.

`env.get` doesn't work for me, but direct addressing works fine - `env.i18n.defaultLocale`.

Thanks for quick help!

[2015-08-04 06:34] #26 closed

[2015-08-04 06:35] fsmanuel commented on #26
:+1:

[2015-08-16 11:32] sunil-shrestha opened #27 "storing to local-storage with addObjects becomes very slow when records grow"
I was trying to store to local storage (around 500 records) and realised that the storing process is really slow (around 15 seconds). Here is my use case.

    var records = this.store.peekAll(modelName).map(function (record) {

	    return { id: record.id, content: record } ;

    });

    this.get('arrayOfRecords').addObjects(records);

However, when i use

    this.get('arrayOfRecords').addObje

[2015-08-24 16:35] #21 closed

[2015-08-24 16:35] fsmanuel opened #28 "Make the adapter work with RESTAdapter"
- [ ] Make it work with RESTAdapter

[2015-08-24 16:38] fsmanuel commented on #27
@sunil-shrestha what version of ember-data are you using? I merged https://github.com/funkensturm/ember-local-storage/pull/19 and master provides an ember-data adapter.

See [Adapter & Serializer](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in the README.

[2015-08-24 16:39] fsmanuel commented on #27
@sunil-shrestha I'll investigate into the poor performance but I think an adapter is what you want.

[2015-08-24 16:40] fsmanuel commented on #25
I merged #19 and master now provides an ember-data adapter.

See [Adapter & Serializer](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in the README.

[2015-08-24 16:40] fsmanuel commented on #24
@skaterdav85 I merged #19 and master now provides an ember-data adapter.

See [Adapter & Serializer](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in the README.

[2015-08-24 16:41] fsmanuel commented on #23
@Kilowhisky I merged #19 and master now provides an ember-data adapter.

See [Adapter & Serializer](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in the README.

[2015-08-24 16:43] skaterdav85 commented on #24
awesome! thanks!

On Mon, Aug 24, 2015 at 9:40 AM, Manuel Wiedenmann <notifications@github.com

--
David

[2015-08-24 16:55] fsmanuel opened #29 "Adapter docs"
- dependent
- autoSave

[2015-08-25 12:26] #29 closed

[2015-08-25 12:27] fsmanuel commented on #27
@sunil-shrestha I added documentation for the models: https://github.com/funkensturm/ember-local-storage#model

[2015-08-25 12:27] fsmanuel commented on #25
@vuhrmeister I added documentation for the models: https://github.com/funkensturm/ember-local-storage#model

[2015-08-25 12:27] fsmanuel commented on #24
@skaterdav85 I added documentation for the models: https://github.com/funkensturm/ember-local-storage#model

[2015-08-25 12:28] fsmanuel commented on #23
@Kilowhisky I added documentation for the models: https://github.com/funkensturm/ember-local-storage#model

[2015-08-25 12:29] sunil-shrestha commented on #27
Thanks ! I will try it then.

[2015-08-25 13:08] fsmanuel commented on #27
@sunil-shrestha I'll release a new version if it works for you.

[2015-08-26 06:27] vuhrmeister commented on #25
Thx, I'm already checking whether or where I could use it. Looks nice anyway.

[2015-08-31 01:08] elwayman02 opened #30 "Package doesn't follow semver"
Moving from 0.0.6 to 0.0.7/8 introduced Ember-Data 1.13.5 and breaking changes to this library for apps that cannot support the sweeping upgrade pains of the newer E-D versions.  The latest versions should have at least been 0.1.0, and moving forward it would be nice to have semver followed so we avoid these nasty surprises. :)

[2015-08-31 08:06] fsmanuel commented on #30
@elwayman02 you are totally right. I was planing to release it as 1.0.0 but somehow didn't do it. Sorry for the inconvenience. I'm curious how the Ember-Data dependency breaks the app. I didn't add it as a npm dependency and thought that everyone can decide to use the new adapter and install Ember-Data.
Thanks for the hint. I'll have semver in mind when it comes to a new release.

[2015-08-31 08:07] fsmanuel commented on #22
@sunil-shrestha can I close the issue?

[2015-08-31 08:08] fsmanuel commented on #23
@Kilowhisky can I close the issue?

[2015-08-31 08:08] sunil-shrestha commented on #22
Yes, Thanks for your help !

[2015-08-31 08:09] fsmanuel commented on #24
@skaterdav85 can I close the issue?

[2015-08-31 08:09] #22 closed

[2015-08-31 08:12] #25 closed

[2015-08-31 17:03] #24 closed

[2015-09-01 15:17] #23 closed

[2015-09-02 23:33] SebastianEdwards opened #31 "Doesn't work without Ember Data"
Versions 0.0.7 and on won't work for those who don't use Ember Data.

Errors at the following line since `Adapter` is undefined - https://github.com/funkensturm/ember-local-storage/blob/master/addon/adapters/adapter.js#L16

[2015-09-03 06:32] TNAJanssen opened #32 "desc.get is not a function TypeError: desc.get is not a function"
When using virtual property, you wil get this error

    import StorageObject from 'ember-local-storage/local/object';

    export default StorageObject.extend({
      storageKey: 'client-intake',
      initialContent: {

        step1Valid: function() {
          return false;
        }.property(),
      }
    });

[2015-09-03 09:30] fsmanuel commented on #32
@TNAJanssen you can not define a computed property in POJOs.
What you can do is:

[code]

[2015-09-03 10:02] fsmanuel commented on #31
@SebastianEdwards thanks for reporting. I released 0.0.9 that should fix the problem.

[2015-09-03 10:06] fsmanuel commented on #30
@elwayman02 I released 0.0.9 that should fix the problem. With ember-data < 1.13.0 you can use everything except the serializer & adapter.

[2015-09-03 20:01] elwayman02 commented on #30
Yea sorry for not responding...it was the use of non-existent Adapter/Serializer objects that was breaking projects not on Ember-Data 1.13+

[2015-09-05 08:36] #30 closed

[2015-09-05 08:37] fsmanuel commented on #31
reopen if you run into problems with 0.0.9

[2015-09-05 08:37] #31 closed

[2015-09-06 10:23] fsmanuel commented on #32
@TNAJanssen can I close the issue?

[2015-09-07 10:33] planetcrypton opened #33 "Updating two controllers"
I'm not sure whether the issue I'm dealing with is related to this addon, or plain ember practice, anyway:

I'm using the addon on two controllers (Application and a specific one called Employee) and is used to manage and display specific settings:

From the Employee controller one can save an employee-ID into localStorage.  You can see your actions 'live' at the related template when setting and

[2015-09-08 08:50] fsmanuel commented on #33
@planetcrypton I guess the problem is that you create the Settings twice. I would recommend to use a separate localStorage Object for the myContact Service and change only that object in your controller.

[2015-09-08 20:09] fsmanuel opened #34 "GH pages"
- [x] https://github.com/poetic/ember-cli-github-pages
- [ ] Add examples
  - [ ] Adapter
    - [ ] Model
  - [ ] Import and export
  - [ ] `storageFor`
    - [ ] with a model

[2015-09-09 06:27] planetcrypton commented on #33
That definitely helps and I've got it all working now :)

[2015-09-09 06:27] #33 closed

[2015-09-09 06:39] fsmanuel commented on #33
@planetcrypton perfect!

[2015-09-09 10:05] wmlele opened #35 "ember-data dependency"
I am using ember-local-storage in a project that's *not* using ember-data.
Since 0.0.7 is now failing at runtime ("DS is not defined").
In 0.0.9, build is also failing with an obscure error ('Invalid Version: undefined') when ember-data is not present.

Is the strict dependency on ember-data a long term requirement, or is just a temporary accident?

[2015-09-09 10:36] fsmanuel commented on #35
@wmlele that's weird. Since 0.0.9 it shouldn't depend on ember-data. Do you have a sample app?

[2015-09-09 11:10] wmlele commented on #35
ember-cli 1.13.8, node 0.12.7, linux-x86_64:
[code]

[2015-09-09 11:17] fsmanuel commented on #35
I'll try to reproduce and fix it.

[2015-09-09 11:20] wmlele commented on #35
[code]

would build, but gives, at runtime:

[code]

[2015-09-10 14:27] fsmanuel commented on #35
@wmlele i published 0.0.10 that should fix the issue.

[2015-09-10 14:27] #32 closed

[2015-09-17 09:54] #35 closed

[2015-09-17 12:10] TNAJanssen commented on #32
@fsmanuel  sorry! Yes you can! Thanks!

[2015-09-29 17:00] graup opened #36 "How to use in multiple controllers?"
Hi! I've run into a problem using the local-storage modal I created with this in multiple locations. I suppose that when using `create()` it creates a new object instance for every controller it is used in – if I change the content in one controller now, how can I get these changes in another one?

I'm trying to make a history of objects the user viewed. The detail page will add an entry to the lo

[2015-09-30 06:36] fsmanuel commented on #36
Hey @graup there are different ways to achieve that:

1. You can `create()` in the module:
[code]
and import the instance in every controller you need.

2. You can use `inject.controller()` and `computed.alias` to connect your controllers.

3. You can use a service that handles the instance and inject it wherever you need it. I would recommend that option because it's more Ember 2.0 and you can ad

[2015-09-30 08:49] graup commented on #36
Thanks, that was very helpful! I went and added a service that keeps its own instance of a StorageArray.

[2015-09-30 08:49] #36 closed

[2015-09-30 08:56] fsmanuel commented on #36
Perfect!
I guess it should be possible to make the service itself a `StorageArray` but I haven't tested it and I don't know if it's a good idea. It would be:

[code]

[2015-10-09 16:58] mattcroberts opened #38 "Adapter Querying"
I've just started using this addon for localstorage and it seems to work great however it looks as though querying has not been implemented. Is this correct? Is there a way to get it to work?

To be clear what I am trying to achieve is

[code]

However it is returning all models for that type.

Thanks,
Matt

[2015-10-10 10:41] fsmanuel commented on #38
Hey @mattcroberts great to hear that it works.
Querying is not implemented yet. I'll implement it and let you know when I'm done.

[2015-10-12 08:50] mattcroberts commented on #38
Thanks!

[2015-10-16 02:33] robbiespeed commented on #38
@fsmanuel I created a pull request with potential implementation https://github.com/funkensturm/ember-local-storage/pull/39. Sorry if you already started working on it, I just needed to get it working for one of my projects. Haven't run into any issues yet with it. If you'd like I could see about adding support for pagination, and sort as well, though I don't have much use for them yet.

[2015-10-16 08:01] fsmanuel commented on #38
@robbiespeed thanks for the PR. I commented on the PR to figure out what features you need.
To cover the use case of @mattcroberts we need the filter the relationships as well. I'm almost finished with the implementation.

Do we need [`queryRecord`](http://emberjs.com/api/data/classes/DS.Store.html#method_queryRecord)?

I guess pagination isn't required because we are local and folks can use [embe

[2015-10-18 15:11] #38 closed

[2015-10-18 15:19] fsmanuel commented on #38
@mattcroberts i released 0.1.0 with a query implementation. see the [readme](https://github.com/funkensturm/ember-local-storage#query--queryrecord)

@robbiespeed thanks again for pairing and reviewing.

[2015-10-18 20:58] robbiespeed commented on #38
@fsmanuel not a problem, glad to see it turn into such a great implementation of filter querying.

[2015-11-06 14:49] Ramblurr opened #41 "Records added with store.push() aren't persisted in LS"
Coming from [locks/ember-localstorage-adapter](https://github.com/locks/ember-localstorage-adapter), I'm not sure how to use the StorageObject class.

Do I have one per application? Or do I need one for each model I want to persist in LS?

[2015-11-06 14:56] fsmanuel commented on #41
Hey @Ramblurr what do you want to achieve? If you need an adapter like ember-localstorage-adapter read [Adapter & Serializer](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in the readme.

`StorageObject` is more like an object where you have one instance that persists on changes to LS. Like settings. It's not an ember-data model just an object.

[2015-11-06 15:21] Ramblurr commented on #41
@fsmanuel I understand now, I didn't realize that there were two different ways to use the addon.

Is there no way to configure the LS key when using the ember data adapter?

[2015-11-06 16:35] Ramblurr commented on #41
Could the issue be that I'm pushing data into the store with store.push() rather than using createRecord or something. Because the adapter's `_addToIndex` method is never being called.

[2015-11-06 17:06] fsmanuel commented on #41
@Ramblurr yes. You need to go through the adapter.

[2015-11-06 17:24] Ramblurr commented on #41
@fsmanuel When I store.push() records, a PATCH request is started. So in `_handlePATCHRequest` we can add the record to the index if it doesn't exist. Something [like this](https://github.com/Ramblurr/ember-local-storage/commit/f786b20c06807d41033865703b0724bb7fb72b50). What do you think?

I need this feature, because my Ember app is fetching data from a server, and storing it in LS. (Rather than

[2015-11-06 17:39] fsmanuel commented on #41
@Ramblurr sure thing! that is a great idea. can you open a PR and add a test. Something like the [create test](https://github.com/funkensturm/ember-local-storage/blob/master/tests/unit/models/post-test.js#L37).

[2015-11-06 18:16] fsmanuel commented on #41
@Ramblurr Now you can just add the key to the index. See my last [commit](https://github.com/funkensturm/ember-local-storage/commit/7042d8e54b43b0f406b493b22f78f2610c52c330#diff-290ffea09596a16e3b2b43264137ccf8R307)

[2015-11-09 09:10] Ramblurr commented on #41
@fsmanuel great, thanks!

So now the index-XXX key is being created when I store.push() models. But when I refresh the page, ember data isn't being repopulated with the items in the store.

This is what I'm doing:

1. push() models to ember data
2. observe in Ember inspector that the data exists
3. observe that the data exists in LS
4. refresh the page, run a findAll()
5. the Ember inspector shows

[2015-11-09 09:48] fsmanuel commented on #41
@Ramblurr perfect. thanks for the bug fix.

[2015-11-10 12:28] Ramblurr opened #42 "Querying on camelCase poperties"
Not sure if this is a bug or just an incorrect way of doing things.

In my model I define a property like so `fooBar = DS.attr()`. Later when I want to query against it I write `store.query('my-model', {filter: { fooBar: value } }`

Result: it never works, I always receive an empty list.

Debugging the adapter I see now that it is expecting the dasherized property, `foo-bar` to be passed as the qu

[2015-11-10 14:04] fsmanuel commented on #42
@Ramblurr i run into a similar problem with ember data: https://github.com/emberjs/data/pull/3910
will check what i can do about it. it's a bug or at least it's inconvenient and should be changed.

[2015-11-10 17:45] Ramblurr commented on #42
On a related note, what's the difference between `{filter: { fooBar: value } }` vs `{ fooBar: value }`?

[2015-11-10 18:58] fsmanuel commented on #42
@Ramblurr only `filter:` works. See the [guides](http://guides.emberjs.com/v2.1.0/models/finding-records/#toc_querying-for-multiple-records) and the [JSON API Spec](http://jsonapi.org/format/#fetching-filtering). I want to stay as close to the Spec as possible.

Somewhat related do you use the `attrs` hash in your serializers or how do you transform the data from the server for the `store.push()`?

[2015-11-10 23:11] fsmanuel commented on #41
@Ramblurr do need help with the test? I can write one and you PR the fix?

[2015-11-11 09:44] #42 closed

[2015-11-11 09:45] fsmanuel commented on #41
@Ramblurr I'll cut a new release as soon as we have the fix merged.

[2015-11-11 11:41] Ramblurr commented on #42
Thanks @fsmanuel . I'm not using the `attrs` hash.

To transform the data from my server into valid JSONAPI objects, I've added a `normalizeMyServerArrayPayload()` method to my serializer, then I do something like:

[code]

`normalizeMyServerArrayPayload()` transforms the server's response into a JSONAPI object.

It's not ideal, but its working.

[2015-11-11 11:48] Ramblurr opened #44 "queryRecord returns `undefined` when no result is found.. triggers Ember Assertion"
in adapter.js in the `queryRecord` method, there exists this code:

[code]

Now, if there was no result found `records` is a `{data: Array[0]}` and `result.data[0]` returns `undefined`.

Later Ember asserts with the error:

([from here](https://github.com/emberjs/data/blob/96d211b9f0f7e1525aaf96059cc1d6239a7588c6/packages/ember-data/lib/system/store/serializer-response.js#L78))

`queryRecord` shou

[2015-11-11 11:50] fsmanuel commented on #44
@Ramblurr makes sense. Thanks for reporting.

[2015-11-11 11:50] Ramblurr commented on #44
Making a PR. (nice response time, haha)

[2015-11-11 12:09] fsmanuel commented on #44
@Ramblurr great! you battle prove the adapter!

[2015-11-11 14:37] #41 closed

[2015-11-12 22:30] jasalguero opened #47 "Strange behaviour on IE11"
Hi,

I'm using the plugin to store a couple of simple values in local storage and it works all fine, except in IE (IE11), where there is no initial value set, and on changing (is a page size that I can change in an input) it gets in an infinite loop setting the variable to the new and initial value back and forth.

[2015-11-13 20:55] #44 closed

[2015-11-13 20:58] fsmanuel commented on #44
@Ramblurr I'll release `0.1.1` now. See the [changelog](https://github.com/funkensturm/ember-local-storage/blob/master/CHANGELOG.md#011). `queryRecord()` will return an empty array until ember-data is fixed. I guess the best is to test with `Ember.isEmpty()` if there is a record.

related https://github.com/emberjs/data/issues/3790

[2015-11-13 21:41] fsmanuel commented on #47
@jasalguero I just did a quick google for 'IE11 localStorage' and it seems that the IE11 has a lot of problems with localStorage. What is the exact version number?

[2015-11-14 02:12] Jordan4jc opened #49 "Add a JSON object to the storageObject"
How would I go about adding a JSON object to the local storage using the `storageObject`?

When I try adding it like I normally would make a JSON object it's all empty.

Or is this not how local storage is intended to be used?

[2015-11-14 03:11] Jordan4jc commented on #49
I was able to get this working by setting the object I wanted to set in the local storage to an empty object to begin with

[2015-11-14 03:11] #49 closed

[2015-11-14 03:43] fsmanuel commented on #49
@Jordan4jc Have you tried using `initialContent` or `setProperties`?

[2015-11-15 12:01] fsmanuel opened #50 "storageFor"
Implement `storageFor` helper
- [x] deprecate `initialContent` use `_initialContent` internal
- [x] Readme
- [x] Tests
- [x] support legacy keys
- [x] blueprints

[2015-11-15 12:28] fsmanuel opened #51 "Named exports"
[code]

- [ ] Adapter
- [ ] Serializer
- [x] storageFor

[2015-11-15 12:32] fsmanuel commented on #47
@jasalguero can you try to debug the issue by removing these [lines](https://github.com/funkensturm/ember-local-storage/blob/master/addon/mixins/storage.js#L59-L65)?

[2015-11-16 09:41] varoot commented on #47
I have the same issue with IE (10 and 11). Adding `if (document.hidden)` in the above section seems to fix the issue. This prevents the current tab from taking events fired from other (inactive) tabs, I guess.

[2015-11-17 15:49] fsmanuel commented on #47
@varoot hmm but that would make the entire purpose of the storage event obsolete, doesn't it?

[2015-11-17 15:53] fsmanuel commented on #47
@varoot wait! does your code look like:
[code]

That would mean that the IE fires in the same tab the change occurred and that's why it results in an infinit loop. So it is the opposite of you guess but could be the fix.

[2015-11-17 15:57] fsmanuel commented on #47
we might need a check `event.newValue !== event.oldValue` as well and probably a check if the `content !== JSON.parse(event.newValue)` before doing the set on content.

[2015-11-20 22:48] krivaten commented on #47
Just found this in our app as well. According to [CanIUse](http://caniuse.com/#search=localstorage) "The storage event's oldValue and newValue are identical (newValue is supposed to contain the storage's updated value)". Not sure if that gives anyone aid, but trying to look in to this as well.

[2015-11-23 18:24] Jordan4jc opened #52 "Having trouble using in a service"
I'm attempting to use a service to access data from the local storage since I'll be saving a json object with user info. But I can't seem to get it to work.

In my service I am attempting to set a property for the users id like so

[code]

But in my component where I am attempting to access this property I am getting `this.get is not a function` in the console as an error.

Is there some other set

[2015-11-23 18:31] fsmanuel commented on #52
You should use an alias:

[code]

[2015-11-23 19:20] #52 closed

[2015-11-23 19:21] Jordan4jc commented on #52
Cool that worked thanks!

[2015-11-26 01:05] varoot commented on #47
@fsmanuel No, my code is like this:

    if (window.addEventListener) {
        window.addEventListener('storage', (event) => {
            if (document.hidden && event.key === storageKey) {
                this.set('content', JSON.parse(event.newValue));
            }
        });
    }

which means that only hidden (inactive) tabs will take values. I think it makes sense since it's probably the a

[2015-11-26 01:11] varoot commented on #47
The downside of this approach (that I can think of) is that `document.hidden` has less browser support than localStorage itself (compare [Page Visibility API](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API) with [Web Storage API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API))

But for me this is acceptable, since it won't break the functionality even if th

[2015-11-26 01:46] fsmanuel commented on #47
@varoot can you test if https://github.com/funkensturm/ember-local-storage/commit/660361900e6041ecc25dcb1dbe26a1b46b1bcfc7 fixes the issue?
I have no IE11 at hand to test it.

[2015-11-26 03:35] varoot commented on #47
Yeah, it works. Tested on IE10 and IE11.

[2015-11-26 18:25] fsmanuel commented on #47
I'll try to release the fix tomorrow.

[2015-11-28 10:06] fsmanuel commented on #47
@jasalguero @krivaten @varoot I released `0.1.2`. Thanks for the feedback.

[2016-01-05 00:04] MattNguyen commented on #47
This is still a problem if you call `set` multiple times within the same loop.

For example, we nest localStorage items for namespacing purposes, potentially calling `set` twice in total.

[code]

This in turn causes the storage change event to fire repeatedly:

[code]

We ended up forking the lib and adding a check `document.hidden`, but as was mentioned previously, there's less support for the p

[2016-01-05 21:35] fsmanuel commented on #47
I'll investigate.

[2016-01-11 21:37] #47 closed

[2016-01-11 21:42] fsmanuel commented on #47
@MattNguyen I released '0.1.3`.

[2016-01-12 00:28] #27 closed

[2016-01-12 00:28] #28 closed

[2016-01-12 18:59] Ramblurr opened #57 "Querying on boolean attributes doesn't work when they are false."
The LS Adapter doesn't support querying on boolean model attributes when the values are false:

From [adapter.js:217](https://github.com/funkensturm/ember-local-storage/blob/master/addon/adapters/adapter.js#L217)
[code]

If the model has an attribute  like `isAwesome: DS.attr('boolean', {defaultValue: false}),`

Then a query like `store.query('my-model', { filter: {isAwesome: false } })` returns 0

[2016-01-12 19:06] fsmanuel commented on #57
It's a bit odd but can you try:
`store.query('my-model', { filter: {isAwesome: 'false' } })`

I'm not 100% how the boolean is saved in localStorage. I seem to remember that I had problems with numbers as well...

We should probably use `Ember.isEmpty` to fix it.

[2016-01-12 21:10] Ramblurr commented on #57
I've tried treating the boolean as a string, but it doesn't work. The [`Boolean` transform](https://github.com/emberjs/data/blob/v2.3.0/addon/-private/transforms/boolean.js#L40) serializes as a Boolean, which will get converted to a regular boolean when placed in LS.

I had problems with integers too, and treating them as strings was my workaroun.

But yea, Ember.isEmpty is the answer here imho.

[2016-01-13 15:40] fsmanuel commented on #57
I'll fix it tomorrow!

[2016-01-14 12:40] #57 closed

[2016-01-14 12:56] Arkham opened #61 "Could not find module `ember-local-storage/adapters/adapter`"
Hello there,

I was following the readme and trying to use the adapter and the serializer and I got this error:

![screen shot 2016-01-14 at 12 55 55](https://cloud.githubusercontent.com/assets/62895/12324916/2e84aeca-babe-11e5-951b-cbbdd35ea143.png)

I'm using:
* ember-local-storage 0.1.3
* ember-cli 2.2.0-beta6
* ember 2.2.0
* ember-data 2.3.1
* jquery 1.11.3

[2016-01-14 13:28] fsmanuel commented on #61
@Arkham Have you restarted the server after installing the addon?

[2016-01-14 13:30] fsmanuel commented on #57
@Ramblurr I released `0.1.4`

[2016-01-14 13:33] fsmanuel commented on #61
Or is there any other error before that? I'll setup a new app with ember-cli 2.2.0-beta6 to test.

[2016-01-14 13:42] fsmanuel commented on #61
@Arkham got it. I was checking for `ember-data` on bower. Now that `ember-data` is an addon it no longer works. Will release a new version in some minutes.

[2016-01-14 13:46] Arkham commented on #61
@fsmanuel yes, nombomed and restarted. Thanks for taking a look!

[2016-01-14 14:11] fsmanuel commented on #61
@Arkham I released `0.1.5`.

[2016-01-14 15:38] Arkham commented on #61
Thanks so much! :+1:

[2016-01-14 16:04] fsmanuel commented on #61
Thanks for reporting!

[2016-01-14 16:04] #61 closed

[2016-01-17 12:50] #50 closed

[2016-01-17 13:26] #51 closed

[2016-01-22 12:46] fsmanuel opened #69 "Update ember-try scenarios"
- [x] include legacy versions eg 1.13.X
- [x] include without ember-data scenario
- [x] include ember-data via npm scenario

related https://github.com/kategengler/ember-try/issues/44

[2016-01-22 17:41] Levino opened #70 "How to get started using local storage? Any compelte examples?"
Does anyone have a simple example where I can understand how the routes - components - storage adapter is connected?

I created a "user" model, a "profile" route and I get a 404 in the console that "localhost:4200/users" cant be found.

Code is here: https://github.com/Levino/steuertools/tree/1268f966131f19c26f215dcfd137c55d549c2474

I just want localhost:4200/profile to render...

I know this is

[2016-01-22 21:20] fsmanuel commented on #70
@Levino there are different concepts and it depends on what you want.

1. You can use `storageFor` to work with an object or array that persists to localStorage if changed.
2. You can use the localStorage adapter to use ember-data models.

I guess you want the later one.

Run `ember g adapter application` and `ember g serializer application` then follow the instruction in the [readme](https://gith

[2016-01-27 14:03] juni0r opened #71 "Records not retrieved from store with namespaced model"
Hi,

when using a namespaced model (e.g. `blog/post`), records can be persisted but not retrieved from the store. This is because everything behind a '/' is interpreted as an id which fails for namespaced model names.

The workaround we used is to change how the payload key and path name are derived from the model name in the serializer and adapter, respectively.

[code]

[code]

[2016-01-27 22:32] fsmanuel commented on #71
@juni0r Hey! Thanks for reporting. I'll look into it. I have never used namespaced models. Out of curiosity  have you used namespaced models with other adapters? Does it work?

[2016-01-29 14:07] Jordan4jc opened #72 "Can't get a record from the local storage"
I can't seem to get at the record I have saved in local storage with `findRecord`

I have a route that requires someone to authenticate with my backend using a key, that calls a normal ajax action that I take the response and store in local storage using the default local storage adapter

    Ember.$.ajax({
	type: 'get',
	dataType: 'json',
	url: `http://***/api/users/url/${params.short_url}?key=${

[2016-01-29 14:28] fsmanuel commented on #72
Can you check the localStorage in the developer tools? Is the record in there?
`findRecord` returns a promise so try `.then(function(user) { return user.get('user-name') });`

[2016-01-29 19:20] fsmanuel commented on #71
@juni0r I opened #73 that fixes the issue.

You need to set the `modelNamespace` on the perType Adapter:
[code]

Does this work for your use case?

[2016-01-29 20:18] #72 closed

[2016-01-29 20:21] Jordan4jc opened #75 "Inject local storage model to be used anywhere"
This may be outside the scope of this addon but I am using the adapter and serializer to store user info in local storage. This gets populated with normal ajax requests that create and save records into the local storage store.

What I need is to be able to use this user record in local storage (there will only ever be one at a time) in computed properties and to display in templates.

I'm just no

[2016-01-29 22:05] fsmanuel commented on #75
@Jordan4jc I'll try to write you on slack tomorrow. we can post the solution here but I have to know more details.

[2016-01-30 12:23] fsmanuel commented on #75
@Jordan4jc I would go for a session service:

[code]

After you fetched the user via ajax and created and saved the user to local storage you set the id on the service:

[code]

Now it should be possible to inject the session service where ever you need it and make your properties dependent on them:

[code]

Hope that helps.

[2016-01-31 11:43] Ramblurr commented on #44
This was fixed in ember-data 2.2.1 ([source](https://github.com/emberjs/data/issues/3790#issuecomment-174962777))

[2016-01-31 13:11] fsmanuel commented on #44
@Ramblurr is it just an information or are any steps required?

[2016-02-01 12:02] fsmanuel commented on #71
@juni0r can you review #73?

[2016-02-01 12:03] fsmanuel commented on #70
@Levino I'm closing this. You can reopen if you need more help.

[2016-02-01 12:03] #70 closed

[2016-02-01 12:03] fsmanuel commented on #75
@Jordan4jc can I close this?

[2016-02-01 14:16] Jordan4jc commented on #75
I believe so, everything looks like it's functioning the way we intended, thanks!

[2016-02-01 14:16] #75 closed

[2016-02-01 14:37] Levino commented on #70
Dear @fsmanuel Thanks so far. It helped indeed and I am one step further. Don't have too much time to work on the project though.

Thanks again for this valuable feedback and sorry for not closing myself earlier.

[2016-02-02 12:28] fsmanuel commented on #71
@juni0r thanks for the review. I'll release later.

[2016-02-03 15:05] juni0r opened #77 "Reloading hasMany associations"
Hi,

using the latest Ember Data (2.3.0) models in a hasMany associations are duplicated if the parent model is reloaded.

I created an [example project](https://github.com/juni0r/ember-local-storage-has-many) with a test reproducing the issue.

[2016-02-05 14:02] Ramblurr commented on #44
Just information :) We need to test to make sure its working as expected still.

[2016-02-06 22:03] fsmanuel commented on #77
@juni0r I ran into a similar problem with a `hasMany` association. I'll look into it. Thanks for the test repo. That'll be a good starting point.

[2016-02-09 19:55] fsmanuel commented on #71
@juni0r sorry for the delay. I released [1.1.0](https://github.com/funkensturm/ember-local-storage/releases/tag/v1.1.0)

[2016-02-09 19:55] #71 closed

[2016-02-10 10:10] juni0r commented on #71
@fsmanuel No worries, I worked with master in the meantime. Thanks for releasing!

[2016-02-13 15:33] fsmanuel commented on #77
@juni0r I looked into your problem and figured the tests are failing because you don't save the comments.

That one works:
[code]

[2016-02-15 13:17] juni0r commented on #77
@fsmanuel Thanks for looking into this! I'm fairly new to Ember Data and sometimes its behavior still puzzles me. I assumed that when I create child records, they get saved automatically with the parent record, especially since the child records get embedded with the local storage adapter.

I did some research on the topic and came across the EmbeddedRecordsMixin. From what I read, it does exactly

[2016-02-15 13:31] fsmanuel commented on #77
@juni0r It is puzzling sometimes, for me too.

Have a look at the [serializer](https://github.com/funkensturm/ember-local-storage/blob/master/addon/serializers/serializer.js#L9) I just let the `hasMany` relationships be serialized. I guess this is the root of the confusion. Here are the [docs](http://emberjs.com/api/data/classes/DS.JSONAPISerializer.html#method__shouldSerializeHasMany) for
`_shoul

[2016-03-08 19:24] marcemira commented on #28
Any news on this?

[2016-03-09 01:47] fsmanuel commented on #28
@marcemira i have decided to not support the RESTAdapter because I have no use case for it. The JSONApiAdapter is around for some time and only apps stuck on 1.2 can not use the addon.
Tell me about your use case maybe I missed some important facts.

[2016-03-09 02:27] marcemira commented on #28
Hello @fsmanuel, thanks for answering. My use case is the following:
I currently have a set of models that repeats a lot of request to my API during the natural flow of the application, like category, sub-categories, countries, user common information like genders and others. These are mostly static, but some might change from times to times. So, in order to leverage these amount of requests, I de

[2016-03-09 02:43] fsmanuel commented on #28
@marcemira thanks for the flowers and feedback. Interesting approach to use `importData`. The import/export are precisely the reason why I don't want to support the RESTSerializer. I don't want to maintain all the conversion.
Try to use your code above but do not use `_normalizeResponse` and instead use [`normalizeResponse`](http://emberjs.com/api/data/classes/DS.Serializer.html#method_normalizeRe

[2016-03-09 03:18] marcemira commented on #28
@fsmanuel thanks for answering, I was just tracing the code while the serializer performs the normalizeResult with a normal model and with the ones I intent to use with ember-local-storage serializer and I found out that [this line on rest serializer](https://github.com/emberjs/data/blob/2322aacc3f3e4fb4fe9b30c7d790c45126fa5c73/addon/serializers/rest.js#L184) will use `ember-local-storage/serializ

[2016-03-09 08:33] fsmanuel commented on #28
Ah I see, the model lookup will not work.

Concerning your update. JSONAPI payload expects a data property that's why it looks for a model data. In your fork you have to change the _handleRequest resolve payload to make it work.

If you can put up a PR that handles both REST and JSONAPI I'm happy to merge! Anyway link to your solution maybe we can figure out how to support both.

I also thought ab

[2016-04-28 18:00] schickm opened #120 "sessionStorage adapter/serializer?"
Thanks for the awesome library!

I found myself wanting to use sessionStorage for ember models rather then localStorage.  I'm wondering what you'd think about supporting an adapter/serializer for sessionStorage in the library?  Or, just making the existing adapter a little more flexible for accommodating the change to sessionStorage.

Below is what I had to do to make my own extension of the exist

[2016-05-10 12:17] fsmanuel commented on #120
Hey @schickm sorry for the late reply.
Interesting. Do you use it for a demo or why do you need only the sessionStorage?

I'm happy to accept a PR!

[2016-05-10 17:10] schickm commented on #120
No problem, we're all busy people.

For an application I'm working on, we have some data that we want to disappear when the user closes their browser window, and some data that we want to stick around.  So we use a mix of local and session storage.

So do you want the PR to just have a separate adapter like the one above?  Then just add a little note in the documentation about the special case?  I

[2016-05-10 20:34] fsmanuel commented on #120
@schickm I like that you care about the structure!

My preferred structure would be:
`ember-local-storage/adapters/adapter` exports `ember-local-storage/adapters/local`
`ember-local-storage/adapters/local` the old adapter
`ember-local-storage/adapters/session` your implementation

That way we only have to change the readme and add the two options of `local` and `session` and it's still backward co

[2016-05-12 16:34] schickm commented on #120
@fsmanuel Thanks man, got to keep that structure in line!

Sounds good, no need for deprecation.  I'll hopefully be able to get to this in the next few days and have it up for your review.

[2016-06-02 23:58] fsmanuel opened #134 "revisit ember-cli-deprecation-workflow"

[2016-06-20 01:45] fsmanuel opened #150 "ember-fastboot support"
http://ember-fastboot.com/docs/addon-author-guide
https://github.com/ember-fastboot/ember-cli-fastboot

[2016-06-21 15:21] #120 closed

[2016-06-21 15:22] #69 closed

[2016-06-22 16:55] zequeira opened #152 "Could not find module `ember-local-storage/adapters/local`"
Hi,

I'm trying to configure "ember-local-storage" to work with "ember-data" and I can not make it work, maybe I'm not getting your explanations on the Readme.

Could you provide some more information on how is "ember-local-storage" interacting with "ember-data"??
Is it like if I'm already using "ember-data" and then I integrate "ember-local-storage" then the model goes automatically to localStora

[2016-06-22 17:08] fsmanuel commented on #152
@zequeira Sorry! That was my fault. I forgot to publish the new version `1.3.0`. Now it's out and use `localStorage` and `sessionStorage` adpaters. Just update the the addon to the new version and then it should work.

Reopen the issue, if it doesn't solve the problem.

[2016-06-23 13:25] zequeira commented on #152
Hi @fsmanuel
Thank you very much for your quick answer. The error is gone, but I'm still haven't been able to have together "ember-data" + "ember-local-storage" working.

I assume that I have to import my JSON object (which is not complaint with the JSON API) into the localStorage, using your "this.store.importData(file.data);" approach. but is not working. I tried:
[code]
and is not working.

It

[2016-06-23 14:25] fsmanuel commented on #152
@zequeira You should have a ember-data model that uses the ember-local-storage adapter.

Lets say you have a `app/models/post` model then you need a `app/adapters/post` adapter and a `app/serializers/post` serializer:

[code]

Now you can create your model in the router and use the normal ember-data api to find and manipulate your record:

[code]

Ping me on slack if you have more questions.

[2016-06-27 09:43] Ramblurr opened #153 "Discussion: Local Forage, moving beyond LS"
Hey @fsmanuel

We've been using this addon in production for about a year now and we're hitting the limits of LocalStorage. Some of our users are hitting the 5MB size limit, and nearly all of them are affected by the slow performance of LS when there are many little reads and writes.

Our deployment target are devices as a hybrid app, and we have to support a range of devices that have varying aby

[2016-06-28 12:59] ssured opened #154 "Ember-data dependency"
It seems the project depends on Ember-data (addon/adapters/base.js imports DS). It would be wonderful if Ember Data was an optional dependency.

Thanks for open sourcing your lib, it works like a charm!

[2016-06-28 13:06] fsmanuel commented on #154
@ssured ember-data is not a dependency. I check if ember-data is installed and remove the ember-data related files on [build](https://github.com/funkensturm/ember-local-storage/blob/master/index.js#L50-78).

If that is not the fact it is a bug and we should investigate it.

[2016-06-28 13:13] ssured commented on #154
You are right, but...

I get a

[code]
 error when running the app without ember data.

What causes this is that the `node_modules/ember-data` folder still exists, even though `package.json` has the reference to `ember-data` removed.

Manually removing the `node_modules/ember-data` folder solved the issue.

[2016-06-28 13:13] #154 closed

[2016-06-28 13:16] fsmanuel commented on #154
@ssured Ah ok. Now we have an issue to point people if they experience the same problem. Thanks!

[2016-06-28 13:17] fsmanuel commented on #152
@zequeira can I close the issue?

[2016-06-28 13:35] fsmanuel commented on #153
Hey @Ramblurr

Great to hear that the addon is useful.
Your inquiry is 100% valid and I always wondered when the first complains about the storage limitations pop up. I haven't had a look into `localForage` yet but I'll try to look at the API this week.

I think we can make it a feature to use `localForage` as the backend abstraction.

Do you mind to set up a kind of roadmap so we can discuss the

[2016-06-29 20:49] fsmanuel commented on #153
@Ramblurr do you need it for the adapter, the storageFor or both?

[2016-06-29 21:36] fsmanuel commented on #153
@Ramblurr and one more question. Are you on the current release with your production app?

[2016-06-29 23:15] fsmanuel commented on #153
@Ramblurr I run through the code and marked all the places where we should add changes to make it localForage compatible. It doesn't seem to be too much work.
I created a branch `feature/local-forage-support` you can open PR's against it if you have time to resolve some of the TODOs.

Here is a kind of roadmap:

- [ ] Add an initializer (blueprint) to generate the localForage config
- [ ] Add a co

[2016-06-30 09:21] Ramblurr commented on #153
@fsmanuel No, I'm on the 2nd latest version. I'll be upgrading as part of working on localforage however.

Thanks for the roadmap! I'll send some PRs your way.

[2016-07-04 08:01] Ramblurr commented on #153
Just saw your first question: We're only using the Ember Data adapter, and that's all we'd need it for.

Jumping into this this week.  Looking at your `TODO`s it seems you plan on replacing the original functionality with LF, and then having the original / default local storage behavior routed through LF. Is that correct?

[2016-07-04 08:22] fsmanuel commented on #153
@Ramblurr I used the dot notation for interacting with localStorage. The first step would be to convert the code to the localStorage API (using `setItem` and `getItem`, etc.) If it is done we can test it (the tests should run without any problem I guess) and then implement specific LF functionality/compatibility.

If you like we can skype or talk in the slack channel.

[2016-07-06 12:14] zequeira commented on #152
@fsmanuel Sorry for the silence, your suggestion before didn't work. I'll ping you in stackoverflow ;)

[2016-07-09 17:58] vvscode opened #157 "Using adapter and tests"
Please describe best ways to work with adapter while tests. How to mock/clear store on each test etc. If I miss something in documentation - link be enough. Thx

[2016-07-09 19:29] fsmanuel commented on #157
@vvscode have a look at the [tests](https://github.com/funkensturm/ember-local-storage/blob/master/tests/unit/models/post-test.js) for the addon.

[2016-07-10 08:27] #157 closed

[2016-07-13 08:31] Ramblurr commented on #153
@fsmanuel Just wanted to let you know that we've decided to stop using ember-l-s and indeed any key/value store altogether in our app.

With the amount of data we're dealing with, and in particular the way we need to query the data on certain indices, it just doesn't make sense to continue to use a K/V based store.

Ember-local-storage served us great for a long time, but we're moving to an Indexe

[2016-07-27 10:12] Suven opened #168 "[Feature-Request] Option for a project-prefix"
Hey!

It would be great if one could configure a prefix for all storge-objects/the adapter. Maybe this is something one could set one time in a service inside an instance-initializer?

My use-case is just that, when developing multiple apps at once, the Ressources-Tab in Chrome can get a little messy.

For anybody else who might face this:
You can get around that problem by configuring different l

[2016-07-27 18:16] fsmanuel commented on #168
@Suven That is actually a good idea and should be easy to implement.
I'm happy to accept a PR and can help point you to the right places in the code.

I guess the best would be to set the `namespace` via environment.js:

[code]

We would need a helper `getNamespace` in [storage.js](https://github.com/funkensturm/ember-local-storage/blob/master/addon/helpers/storage.js) where we fetch the config.

[2016-07-28 21:55] csprocket777 commented on #168
I'm also needing this, however I'd need a new storage object based on another variable.

For example: I'm making a utility that could consume a user provided object and I'd want to store a localStorage object that pertains to what the user provided. And then be able to retrieve that localStorage object again when the user returns and consumes that same user provided object.

[2016-07-29 07:32] fsmanuel commented on #168
@csprocket777 can you open a new issue that we can discuss your question. Please add a real example. Right now I don't fully understand your requirements.

[2016-07-29 07:35] fsmanuel commented on #153
@Ramblurr Sorry for the late reply. Thanks for all the feedback and help! Much obliged.

[2016-08-01 14:13] csprocket777 opened #172 "Option for a project prefix to enhance localStorage specificity"
Here's my use case.

I am making something that reads in a particular sheet from Smartsheet (smartsheet.com).
I am providing the ability to specify which sheet via a route parameter (sheet/1234567).
I am displaying the data to the user and allowing them to vote on individual rows in the data. I don't want to create accounts or store user IDs back into the smartsheet, so instead I'm storing the she

[2016-08-01 14:13] csprocket777 commented on #168
I have opened a new issue explaining my use case.
https://github.com/funkensturm/ember-local-storage/issues/172

[2016-08-03 06:59] fsmanuel commented on #172
@csprocket777 There is a way to do that but it is still experimental: [`storageFor`](https://github.com/funkensturm/ember-local-storage#storagefor-options). Look at the second argument `model`. If you provide an object with a `modelName` and `id` it will compute a key based on that object.

`storageFor('idea-votes', {modelName: 'sheet', id: 12})` should result in `storage:idea-votes:sheet:12`

Let

[2016-09-21 07:04] timbaas commented on #153
I've also took a look at making this possible, mainly because iOS can clear the localStorage if a device is full (this could be because `[]` is used instead of `getItem` and `setItem`: https://forum.ionicframework.com/t/ios-localstorage-persistence/20004).

Another problem I came across is the "storage" event, which isn't triggered/supported by localForage.

[2016-09-21 09:20] fsmanuel commented on #153
@timbaas The plane to build on localForage is still current. Right now I have no free cycles for it. I guess it will be better in 1-2 weeks. If you have time to help you can take over #155

[2016-10-16 21:22] fsmanuel opened #198 "Add ember-runtime-enumerable-includes-polyfill"
https://github.com/rwjblue/ember-runtime-enumerable-includes-polyfill

[2016-10-21 12:40] fsmanuel commented on #198
We don't use contains...

[2016-10-21 12:40] #198 closed

[2016-10-21 12:41] #152 closed

[2016-12-15 11:35] palamike opened #211 "Ember 2.10.0 has message DEPRECATION: ember-getowner-polyfill"
Hi,

I already upgrade to Ember 2.10.0 and found warning DEPRECATION: ember-getowner-polyfill.

Here is the full message

`DEPRECATION: ember-getowner-polyfill is now a true polyfill. Use Ember.getOwner directly instead of importing from ember-getowner-polyfill [deprecation id: ember-getowner-polyfill.import]`

I see the source code and found that

FIle : ember-local-storage/addon/helpers/storage.

[2016-12-17 14:39] fsmanuel commented on #211
@palamike I'll have a look next week.

[2016-12-19 16:44] estshy opened #212 "Storage doesn't work with nested attributes"
In case we would like to have nested properties inside storage then it will break as `setUnknownProperty` won't fire.

[code]
export default Ember.Route.extend({
  storage: storageFor('user'),

  model() {
    return this.get('storage');
  },

  setupController(controller, model) {
    model.get('user').set('visits', 1);
  }
});

[2016-12-19 17:04] fsmanuel commented on #212
@estshy I would recommend to use the [adapter](https://github.com/funkensturm/ember-local-storage#adapter--serializer) in your case. `storageFor` is more for simple data not complex nested data.

[2016-12-19 17:18] estshy commented on #212
I've started with adapter but it seemed to be overcomplicated for what I wanted to use it.
For now I've made a workaround which observes nested attribute and fires change event on top level attribute. Maybe we could make this more generic and integrate it into StorageObject?

[code]

[2016-12-19 21:03] planetexpress69 commented on #211
@palamike Just remove the line "import getOwner from 'ember-getowner-polyfill';" and use
"const owner = Ember.getOwner(context);"...

[2016-12-20 04:13] palamike commented on #211
Hi @planetexpress69 , I already did that. just want to inform project owner. :)

[2016-12-20 07:04] planetexpress69 commented on #211
Pull request, then?

--

[2016-12-20 07:49] palamike commented on #211
Hi @planetexpress69 , Next time I will learn how to create the pull request. I never create before. Thank You 👍

[2016-12-20 07:57] fsmanuel commented on #211
@palamike @planetexpress69 to stay backwards compatible we can not just remove the polyfill. I'll fix it.

[2017-01-05 21:02] fsmanuel commented on #172
@csprocket777 Can I close the issue?

[2017-01-06 10:02] fsmanuel commented on #211
@palamike @planetexpress69 I released `1.3.4` that removes the deprecation and a deprecation for ember-data canary.

[2017-01-06 10:02] #211 closed

[2017-01-06 10:14] fsmanuel opened #222 "Unify storage keys"
- [ ] Use `:` to delimit key parts
- [ ] Fallback to `-` delimiter
- [ ] Add helper function to join key parts
- [ ] Make it possible to prepend a namespace

[2017-01-11 11:44] #134 closed

[2017-01-28 00:54] akshaisarma commented on #153
@fsmanuel Any updates on this feature? I would love to have this!

[2017-01-28 03:04] fsmanuel commented on #153
@akshaisarma yeah ember-localforage-adapter is a good choice but the performance isn't that great if you have a lot of records. I'm still very interested in bringing localForage into ember-local-storage and will work on it in February.

[2017-01-29 04:22] akshaisarma commented on #153
@fsmanuel I didn't realize that ember-localforage-adapter rewrote the whole storage for each CRUD operation. That does not seem to be very sustainable for medium-large data stores. But I really need a larger solution than what local storage provides. I'll be waiting eagerly for ember-local-storage to support this.

I am new to Ember and don't have many free cycles at the moment to learn what addin

[2017-02-08 22:36] ruzz311 commented on #222
Rather than force a delimiter (such as ':' or '-' suggested above), could you allow configuration of the delimiter?  If non is configured, then fallback to one of the two options?

[2017-02-09 01:01] fsmanuel commented on #222
@ruzz311 sure! I'll keep that in mind when I implement it.

[2017-02-10 19:54] mnoble01 opened #229 "[Feature Request] Configurable storage key for Adapter"
I notice you can specify the localStorage key by using `storageFor('my-key')`. I don't see a similar way of specifying the localStorage key when using the ember-local-storage Adapter/Serializer. Instead, the Adapter uses `index-${modelName}`.

1. Is this already possible and I'm missing it?
2. If not, do you think this is a reasonable addition?

I am available to take a shot at implementing this,

[2017-02-10 20:02] mnoble01 commented on #229
I also wonder if you have considered storing models of the same type under the same key, like `'index-${modelName}s': "[{'id': 1}, {'id': 2}]"`.

I'm thinking of a possible case in the feature request detailed above where I specify a key that's not per-model specific (i.e. doesn't contain its id or another unique attribute). What would happen if you went to store a second model at a given key? Clo

[2017-02-20 21:36] fsmanuel commented on #229
@mnoble01 sorry for the late response.

To answer your questions. No it's not possible to change the index or record key. I never had the need to do that. What is your use case?

The problem with storing all models under the same key is that if your dataset grows it gets slow on de-/serialization. It's actually the reason why I wrote the addon and moved away from [`ember-localstorage-adapter`](htt

[2017-02-20 21:48] mnoble01 commented on #229
My use case is actually no longer a use case as I was attempting to use a Model hammer to solve a `storageFor` nail.

This makes perfect sense.

I wanted to have full control over the prefix for the localStorage key, but I realize that it's not needed if you want the LSAdapter to "just work."

Initially, the default localStorage key of "index-${modelName}" confused me. What is "index"?

[2017-02-21 08:02] fsmanuel commented on #229
That sounds like a `storageFor` use case.

The `index-${modelName}` keys are there to fetch all records of a model type. If you use `.findAll('post')` the adapter needs to know the keys of the records otherwise it would have to run over all keys in localStorage and collect what it needs.

[2017-02-21 17:28] absemetov opened #232 "Update data to local storage"
Local storage update only when I add or removeObject
When set data Ember.set(item, "count", count_goods), LS update only after addObject()

[2017-02-22 08:30] fsmanuel commented on #232
@absemetov you can not use `Ember.set` you need to use `item.set('count', count_goods)`.
I overwrite the `set`/`get` of the object/array not the `Ember.set`. Hope that helps.

[2017-02-22 08:31] fsmanuel commented on #229
@mnoble01 Can we close the issue?

[2017-02-22 08:37] fsmanuel commented on #212
@estshy Good that you found a workaround. I don't like observers but it's ok if you use them because you know your keys. Can I close the issue?

[2017-02-22 19:29] jlblcc opened #233 "#219 breaks importData"
PR #219 breaks the importData function. The localstorage index is not updated until a browser refresh due to _indices on the adapter being set as a computed property(_indices does not reflect the current localstorage state). You can reproduce this by running the demo locally and trying to import a file like this [my-data.txt](https://github.com/funkensturm/ember-local-storage/files/794522/my-data.

[2017-02-22 19:37] fsmanuel commented on #233
@jlblcc oh that is sad! @bendemboski do you have any idea how we tackle that?

[2017-02-22 21:48] bendemboski commented on #233
Whoops! #234 fixes the issue.

[2017-02-24 14:30] estshy commented on #212
@fsmanuel sure

[2017-03-01 11:57] absemetov commented on #232
var item = this.get('cartStorage.content').findBy('id', product.get('id'));

Error: item.set is not a function

[2017-03-03 19:29] fsmanuel commented on #232
Try this (without `content` in the key):

[code]

[2017-03-03 19:38] absemetov commented on #232
Uncaught TypeError: item.set is not a function

[2017-03-03 19:40] absemetov commented on #232
cartStorage is Array

[2017-03-03 20:05] fsmanuel commented on #232
@absemetov ah you have nested data. that doesn't work. As a workaround you can delete it from the array, modify it and readd it to the array.

[2017-03-07 23:29] akshaisarma commented on #153
@fsmanuel I was wondering if you got a chance to look at this? I may have some free time later this month and can try and give it a shot if you'd like.

[2017-03-24 23:32] jlblcc commented on #233
Can we get #234 merged and a patched version released? I'd like to use some of the features from master, but this is blocking. Thanks!

[2017-03-25 11:03] fsmanuel commented on #233
@jlblcc sorry for the delay. I'll release today!

[2017-03-25 11:19] #233 closed

[2017-03-25 11:22] #229 closed

[2017-03-25 13:42] fsmanuel commented on #233
@jlblcc how are you using the import/export? Via store or adapter? I think about deprecating the use via adapter...

[2017-03-25 13:45] fsmanuel commented on #233
@jlblcc published `1.3.6`

[2017-03-25 23:24] jlblcc commented on #233
@fsmanuel I'm using import/export via store(`this.store.importData`). So no worries re: adapter deprecation.

Thanks for the release (and the addon)!

[2017-04-10 09:03] monovertex opened #244 "Any way of having nested data without Ember Data?"
Hi! We have a particular use case in our app which I'm having trouble implementing and I'm look for suggestions on how can I achieve this using ember-local-storage.

We want to use the local storage as a repository for various preferences of the current user, on multiple pages of the app.

Initially, we had one storage object for each page, so we had a file structure like this:

[code]

However, t

[2017-04-10 14:12] fsmanuel commented on #244
@monovertex I think in your case you should try the `model` argument for `storageFor(key, model, options)`

Don't worry about "It is still experimental" - I put it there because I didn't figure out a way to do 'garbage collection' yet. Imagin you use it with models and have a lot of records it could exceed the localStorage quota... But in your case your are in control of the keys/pages and can do

[2017-04-14 13:26] monovertex commented on #244
I'm sorry for not responding, It's been a few really busy days and I didn't find the time for this.

I think it might work. Could the `id` be a string? So I could write a function that wraps `storageFor`, something like this:

[code]
And `page` would be a string identifier for a particular page.

[2017-04-19 09:17] fsmanuel commented on #244
@monovertex `id` can be a string. I don't think that you can use a function to wrap it but you can use:
[code]

[2017-04-20 10:28] monovertex commented on #244
@fsmanuel, thanks for the help! Two things:

1. It doesn't seem to work with an inline Object, only with a string, pointing to another property on `this`, that is an Object. I looked through the helpers source and maybe I misunderstood something, but I dohn't think the logic is ok there when you pass an Object. The modelName ends up completely ignored in that specific case.

2. Is it possible to h

[2017-04-23 14:55] fsmanuel commented on #244
@monovertex you are completely right about about 1. You need to provide a property on the context.

2. That is not possible. As far as I understand you setting I would recommend a thin wrapper that does the setup. Something like that should work:

[code]

If you are familiar with computed properties you know that you can have your own CPs if not have a look how to create them. It's just a function

[2017-04-23 15:24] monovertex commented on #244
Thanks for all the help!

I went with a similar approach, a `preferencesFor` function that returns a CP which attaches the Object and the `storageFor` result internally on the context. There was a weird error when simply returning the `storageFor` result like in your example, so I also attached that on the context with `Ember.defineProperty` (I figure returning a floating CP at runtime like that i

[2017-04-23 15:24] #244 closed

[2017-04-23 15:28] fsmanuel commented on #244
@monovertex happy to help. Have a look at the public api: https://github.com/funkensturm/ember-local-storage/blob/master/addon/mixins/storage.js#L119
They are just convenient methods to help you with the objects/arrays.

[2017-04-25 16:23] dja opened #249 "Add a resetToInitialState method"
From my understanding, you would need to call clear() and reset() on a StorageObject to reset it to its initial state.. Is there a more optimal way we could do this in just one method?

[2017-04-25 19:57] fsmanuel commented on #249
@dja just `reset()` should work. Why do you think that you need `clear()` before?

[2017-04-25 22:20] dja commented on #249
Awesome, nevermind that then - I thought clear was doing something separate from how it's explained in the readme as removing content from xStorage.

[2017-04-25 22:20] #249 closed

[2017-05-15 13:24] wmlele opened #255 "chrome.storage.local"
How hard you think it would  be to adapt ember-local-storage to be able to also support chrome.storage.local? Apart for for the API changes, my understanding is that the chrome storage is intrinsically asynchronous, vs the synchronous window.localStorage.
I could give it a shot, but any input will be appreciated.

[2017-06-09 12:30] fsmanuel commented on #232
@absemetov i'm closing this. Reopen if you need more help

[2017-06-09 12:30] #232 closed

[2017-06-09 17:37] Houndsto0th opened #258 "_resetStorages() Documentation"
We've been wrestling with state bleeding between acceptance tests when one of our engineers came across the `_resetStorages()` helper that you use in the test suite for the addon itself. I would think this should probably be in the documentation as a way to consistently reset the value of local storage variables in Acceptance tests in a `beforeEach()` block since other approaches like `window.loca

[2017-06-11 13:19] fsmanuel commented on #258
@Houndsto0th I'm happy to accept a PR that provides a test helper/function that uses `_resetStorages()` and updates the docs!

[2017-06-11 13:36] fsmanuel commented on #255
@wmlele Sorry for the late response. If I'm correct there is a localForage driver: https://github.com/esphen/localforage-webExtensionStorage-driver

I would prefer to get a localForage implementation ready (#153) that allows to use [custom drivers](https://github.com/localForage/localForage/wiki/Custom-Drivers).

Right now I don't have the time to do it. There is a preliminary TODO list to get loc

[2017-06-14 18:02] BryanCrotaz opened #259 "TypeError: Unknown StorageFactory when testing in addon"
Using storageFor in addon fails at test time with error
TypeError: Unknown StorageFactory: storage:<name>
    at createStorage

[2017-06-15 08:16] fsmanuel commented on #259
@BryanCrotaz thanks for reporting. Is the addon public?

[2017-06-15 08:18] BryanCrotaz commented on #259
No, but you should be able to reproduce by creating a service in an addon and having the service use storageFor and get it in init

[2017-06-15 08:22] fsmanuel commented on #259
Did you define the storage object in `app/storages` or `addon/storages`?

[2017-06-15 08:30] BryanCrotaz commented on #259
used your generator which puts it in app

[2017-06-15 08:32] fsmanuel commented on #259
Will dig into it.

[2017-06-15 21:35] fsmanuel commented on #259
How do you test it? I mean do you use it in the dummy app or use the addon in a normal app? Would be great if you could provide a repo to reproduce the error.

[2017-06-22 15:23] songoo opened #260 "Q: how to update nested array?"
Hello i tried object/array generated localStorage property.

In array for example i have objects that have nested array , like this :

[
{hiddenColumns;["name1","name2"],id:11},
{hiddenColumns;["name1","name7"],id:22}
]

- those objects are Ember.Object

In controller i get it as
columns: storageFor('stored-columns'),

then i  get it .get("columns") and filterBy record with id 22, then i set it ne

[2017-06-22 15:32] fsmanuel commented on #260
@songoo ember can not track nested objects. Where is the id comming from? If it is a ember-data model you can use the `model` [option](https://github.com/funkensturm/ember-local-storage#storagefor-options). It will scope the localstorage key to that model (`type:id`). Then you no longer need an array of objects but instead use just a plain array.

[2017-06-27 15:02] blandman opened #262 "Creating new nested key"
I have a settings local-storage model with nested attributes. This is working great, but when trying to add more attributes I'm confused as to why the ember-local-storage plugin isn't simply creating the new key for the missing nested attribute. For example:

My settings when project was first launched in the browser:
[code]

This created a localStorage object, works like a charm. However in devel

[2017-06-28 16:50] songoo commented on #260
Hi, tnx for reply!
Yes id are from ember-data models indeed, but that was just example, i have much more other arrays like "hiddenColumns" .

"ember can not track nested objects" - i always tend to forget that, I changed implementation so whenewer there is change in hidden columns or other sub arrays i pop that oubject out and push it back, after that everything is refreshed fine.

Tnx again! :) 👍

[2017-06-29 14:58] fsmanuel commented on #260
@songoo Sounds like a good solution. Do you mind to add a section with an example on the readme with your solution so others can use the approach as well?

[2017-06-29 15:18] fsmanuel commented on #262
@blandman Thanks for the feedback. I get your point. The problem is that the addon only sets the initial state if there is no data for that key. It seem that your problem is a common scenario for nested objects. I see different approaches how we can handle it.

First of all you should be able to solve it like that:

[code]

We could now add that functionality in some way or another to the addon bu

[2017-07-04 03:45] blandman commented on #262
Thank you so much for this! I could test performance, the app I'm working on has a lot of realtime data and ideally has many user configurable settings and running on mobile. Having migrate as a storageFor option is brilliant. The basic functionality would go a long way.

I could quickly test a few options 👍

[2017-07-21 16:47] Jalil-Irfan opened #264 "Stats become undefined or throws error in new window - IE Edge only"
Hi We are using stats to store almost every value of our application
There are some scenario like we need to open a new window and display some contents or
have some click functions which again checks or stores/updates stats values.
But in IE edge (Windows 10) alone we are not able to fetch values from stats
Mostly it throws this.get('stats.user') is undefined or errors like such
But it works well

[2017-07-22 12:49] fsmanuel commented on #264
@Jalil-Irfan thanks for reporting. Do you have a stack trace or something? I don't have IE edge to test it.

[2017-07-28 13:33] mwpastore opened #267 "initialState properties not defined on clean boot"
I've got a bit of a head-scratcher. I have a StorageObject with an initialState that's being injected into a service. When the app first boots, I don't see the initialState properties in localStorage in the console, and they're undefined if I `get` them. Other properties that are manually `set` look and work just fine. When I refresh the browser tab, the initialState properties appear in localStor

[2017-07-28 14:13] fsmanuel commented on #267
@mwpastore thanks for reporting. Can you provide a sample app? Would like to dig into it.

[2017-07-28 14:13] fsmanuel commented on #264
@Jalil-Irfan any news?

[2017-07-28 14:14] fsmanuel commented on #260
@songoo ping

[2017-07-28 14:14] fsmanuel commented on #259
@BryanCrotaz any news?

[2017-07-28 14:26] Jalil-Irfan commented on #264
I am sorry not able to send stack trace

I can tell you the scenario as what's happening

On Jul 28, 2017 7:43 PM, "Manuel Wiedenmann" <notifications@github.com>
wrote:

[2017-07-28 14:35] fsmanuel commented on #264
@Jalil-Irfan I googled a bit and it seems IE edge has/had problems with localStorage. So any information will be valuable to figure out what is going wrong.

[2017-07-28 14:54] Jalil-Irfan commented on #264
Its like Edge handles new window as a new service in desktop and so the
session or local storage is loaded fresh

Our problem is when we use code like window.open() it opens the new tab
But after opening the tab if we do any action like save,fetch data from
local storage or mainly session it throws error as "stats" is undefined
Or if we use this.get('stats.username') it says cannot read username o

[2017-07-28 14:57] fsmanuel commented on #264
Sounds like this: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7871403/

[2017-07-28 16:15] Jalil-Irfan commented on #264
So we have to wait for the fix to be released right?

On Jul 28, 2017 8:27 PM, "Manuel Wiedenmann" <notifications@github.com>
wrote:

[2017-08-07 21:53] kswilster opened #268 "Storages can't have dependencies injected in Ember@2.14"
The following error is thrown when attempting to inject dependencies into a storage in Ember@2.14. I'm not sure if this was explicitly supported before, but it has functioned correctly until at least version 2.12. I can't demonstrate this on ember-twiddle at the moment (it supports up to Ember@2.12) but I've created a [simple demo to illustrate this effect](https://github.com/kswilster/localstorag

[2017-08-07 23:24] fsmanuel commented on #268
@kswilster Thanks for reporting. I'll have a look at it as soon as I have some cycles.

ref: https://github.com/stefanpenner/ember-state-services/commit/11016b0b547456c62f46d91b2d83606bb4c33119#diff-418a1659ad37efb36c19f41815e06d96R64

[2017-08-24 20:10] cjwyatt opened #269 "storageFor() in route's model hook"
Hi, I was wondering if it's not possible to use storageFor in the model hook in a route. When I tried doing:

`return {
  cart: storageFor('cart')
};`

It seems to work until I access the cart property in the template and then I get:

`TypeError: Cannot read property 'registerOptionsForType' of undefined
    at createStorage (storage.js:105)
    at Object.<anonymous> (storage.js:65)
    at Compute

[2017-08-24 21:41] fsmanuel commented on #269
@cjwyatt You need to use `storageFor` in the route and then access it in the model hook. Think of `storageFor` as a computed property (it actually is) that needs the right `this`. In your case the route.

[code]

[2017-09-02 22:47] cjwyatt commented on #269
Ah OK, that makes sense. I've got that working so it displays the content set in initial state now. Though I notice it doesn't seem to persist changes when I do:

[code]

Is there something I need to call to persist such changes?

[2017-09-04 09:56] fsmanuel commented on #269
@cjwyatt you should not modify the content and just use `.addObject` or `.removeObject`. It's a proxy object and the `content` is somewhat privat (the proxied content).
Can you post more of your example so I can better help you?

[2017-09-07 09:36] tinyweasel commented on #259
Any news on this? I'd like to know how to make the tests work.

[2017-09-07 14:27] fsmanuel commented on #259
@tinyweasel can you provide a repo to reproduce?

[2017-11-09 16:08] eharrow opened #270 "Use in an initialiser"
I wish to read from a storage object in an initialiser and then do something for the service being initialised.  This is to support I18N where a user saved their preferred locale to local-storage and on the next app start the value will be read and the i18n add-on initiliased with it.

The issue I have is that using storageFor() in the way the docs work in an initialiser ends up with an error to d

[2017-11-09 16:37] eharrow commented on #270
ember-18n add-on exposes itself as a service and suggests initialising in an instance initialiser see https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Setting-the-Locale

thx

[2017-11-09 16:47] fsmanuel commented on #270
Ah I see. In this case I would suggest that you use the first approach in the application route:

[code]

[2017-11-09 19:01] fsmanuel commented on #269
@cjwyatt can I close the issue?

[2017-11-09 19:04] cjwyatt commented on #269
Hey, yeah, sorry, I completely forgot about this issue.

[2017-11-09 19:04] #269 closed

[2017-11-09 21:25] eharrow commented on #270
Yes that works fine. Ta

[2017-11-09 21:25] #270 closed

[2017-11-14 11:17] eharrow opened #271 "Ember 2.16.2 Deprecation warning Ember.String.singularize()"
[code]

in /node_modules/ember-local-storage/addon/helpers/import-export.js

Thanks

[2017-11-14 11:28] fsmanuel commented on #271
@eharrow Thanks for reporting. Do you mind opening a PR to fix it? I'll be happy to merge.

[2017-11-29 07:03] artzte commented on #271
Thanks for this awesome add-on! +1 on clearing this deprecation warning.

[2017-12-01 12:13] #271 closed

[2017-12-03 00:10] potato20 opened #276 "Add option to not sync with other windows?"
at the moment i'm just overriding `_addStorageListener()` and making it do another but was wondering if you guys were planning to add an option to skip that.

[2017-12-06 23:23] alexlafroscia opened #277 "Release recent changes"
Any chance you can cut a release with some of the recent changes? I'm getting a deprecation warning from `ember-inflector` that was fixed on master within the last week, but the latest release is from June.

Thanks!

[2017-12-08 13:20] fsmanuel commented on #271
@eharrow @artzte @mminkoff  released as `1.4.1`

[2017-12-08 13:21] fsmanuel commented on #271
@jlblcc  released as `1.4.1`

[2017-12-08 13:21] fsmanuel commented on #277
Hey @alexlafroscia sorry for the delay - released as `1.4.1`

[2017-12-08 13:21] #277 closed

[2017-12-08 13:34] fsmanuel commented on #276
Hey @potato20 thanks for the feedback. Do you want to turn it off globally, per storage or more dynamically like for IE users?

[2017-12-08 13:36] fsmanuel commented on #264
We might fix/prevent this error depending on how we solve #276

[2017-12-08 13:37] fsmanuel commented on #267
@mwpastore any news on it?

[2017-12-08 13:39] fsmanuel commented on #259
@BryanCrotaz @tinyweasel If one of you can provide a repo to reproduce I'm happy to fix it.

[2017-12-08 16:50] potato20 commented on #276
My use case isn't for IE users, but a global and per-storage solution seems feasible.

[2017-12-08 21:20] alexlafroscia commented on #277
Thanks!

[2017-12-14 07:47] Mogball commented on #153
@fsmanuel I am currently working on/looking into `localforage` support. Thing is, `localforage` has an asynchronous API which would require restructuring some code.

`locaforage` has a driver for `localStorage` (and one for `sessionStorage` that requires an additional package, `localforage-sessionStorage`) so it'd be possible to just go with that and make everything use the async API.

Any thought

[2018-01-20 12:37] vst commented on #168
I have a similar situation where I need to create a namespace for the project as I may end up deploying multiple Ember applications under the same sub-domain.

Looks like Ember Simple Auth provides [an option](https://github.com/simplabs/ember-simple-auth/issues/88#issuecomment-35642258) in `environment.js` similar to @fsmanuel's idea.

I would love to jump into this, but not any soon yet :/

[2018-02-07 21:45] #172 closed

[2018-02-07 22:04] fsmanuel commented on #222
@ruzz311 after almost a year I found some time to implement a namespace option that uses a configurable delimiter. It does not yet use the delimiter for the other key parts as that would require a migration mechanism for existing keys. I think about a follow up PR to do that. If you still use the addon and have some time I would appreciate a review for #279

[2018-02-07 22:08] fsmanuel commented on #168
@Suven @csprocket777 @vst I opend #279 to add the namespace option. I would appreciate a review if you are still using the addon and have some time.

[2018-02-19 16:40] pfmmfp opened #281 "Windows not sync'ing"
Using object storage does not seem to sync between windows (chrome). Might this be because of https://github.com/funkensturm/ember-local-storage/pull/193?

[2018-03-03 02:06] lsg-richard commented on #276
Yes having the option to turn this off would be good. I couldn't see how without forking - is there a better way? Adding `_addStorageListener: () => null` to my storage class didn't seem to do it.

[2018-03-03 14:28] fsmanuel commented on #276
@lsg-richard How did you do it on your fork?

[2018-03-04 20:18] lsg-richard commented on #276
Just commenting out adding the listener seemed to do it:
https://github.com/lightspeedgraphics/ember-local-storage

[2018-03-04 23:17] lsg-richard commented on #276
Actually no, don't do this - it breaks things. Computed properties depending on a value in a local storage object started having sync issues after this change.

Need to find the correct way to do this.

[2018-03-05 10:41] fsmanuel commented on #276
@lsg-richard I'll also investigate how we can do it!

[2018-04-12 10:36] stephanebruckert opened #282 "Clear with exception"
Hi,

Would be nice to be able to clear the local storage with exception(s), such as exposed here https://stackoverflow.com/a/29450351/1515819

    clearStorageExcept(['exceptionOne','exceptionTwo'])

Would you consider a PR that does that?
Cheers

[2018-04-12 12:14] fsmanuel commented on #282
@stephanebruckert can you elaborate a bit what you want to do? First I thought about exceptions aka errors. But if I understand you correct you want to clear the storage and provide a list of keys that shouldn't be deleted, right?

I like the idea and I am open for a PR.

[2018-04-24 09:00] fsmanuel opened #283 "Explain how els fallbacks work"
Els always uses a plain object as a fallback (https://github.com/funkensturm/ember-local-storage/blob/master/addon/helpers/storage.js#L35) so if the app depends on `localStorage` being present the consuming app needs to use `tryStorage` and handle the `undefined` case on there own to inform the user that the app may be useless because nothing is persisted to `localStorage`

[2018-04-26 16:44] carlos-figueroa-globant commented on #259
Hi, any updates with this issue?

[2018-04-30 11:30] fsmanuel commented on #259
@carlos-figueroa-globant I still can not reproduce it. If you have a repo I can test with I'll take a look.

[2018-05-07 15:29] CodingItWrong opened #284 "Models not persisting to local storage"
I'm attempting to get `ember-local-storage` working to store my Ember Data models locally, but the data doesn't seem to be persisting. I've created a demo project here:

https://github.com/CodingItWrong/ember-local-storage-troubleshooting

I believe the adapter and serializer are set up according to what the readme describes, but I don't see any entries in my browser's Local Storage:

<img width="

[2018-05-08 09:31] CodingItWrong commented on #284
I was missing something obvious; I wasn’t calling `.save()` on the record. Carry on!

[2018-05-08 09:31] #284 closed

[2018-05-08 09:32] fsmanuel commented on #284
@CodingItWrong great that it works now!

[2018-07-19 01:47] ShenglinGuo opened #286 "Ember 3.3 Use ember-copy addon instead of copy method and Copyable mixin. [deprecation id: ember-runtime.deprecate-copy-copyable]"
Copy method used in storage.js has been deprecated after ember 3.3 ?

ember-local-storage/addon/mixins/storage.js

[2018-08-10 10:32] lsg-richard commented on #286
Correct. It should be trivial to switch to https://github.com/emberjs/ember-copy instead which provides identical functionality in an add-on.

[2018-08-20 18:10] fsmanuel commented on #286
@ShenglinGuo @lsg-richard I released `1.4.2` with the fix.

[2018-08-20 18:10] #286 closed

[2018-08-21 19:30] vitaliy-petrenko commented on #259
just copy storages into addon folder and make in app/storages/storage-name:

export { default } from 'repo-name/storages/storage-name';

like other generators do this

[2018-10-16 03:37] AdminDev826 opened #294 "Q: StorageObject not working."
I have created StorageObject for `sobject`
[code]

[2018-11-15 14:51] fsmanuel commented on #258
Closed via #296

[2018-11-15 14:51] #258 closed

[2018-12-09 03:00] richard-viney commented on #294
The `set()` call there is replacing the entire value of `this.s_object`. Try calling `set()` or `setProperties()` on the storage object instead, e.g. `this.s_object.setProperties({ a: 'value', b: 'value2' }).

[2019-01-04 17:43] #267 closed

[2019-01-04 17:45] #168 closed

[2019-01-08 23:42] richard-viney opened #298 "Ability to disable window syncing"
Hi,

We're currently using a small fork of this project that disables syncing across windows. It literally just comments out one line in order to achieve this: https://github.com/funkensturm/ember-local-storage/blob/eece52d4c5ea1b528ed3e5dfc9eaa8c56be6fd3e/addon/mixins/storage.js#L49

We'd like to avoid using a fork if possible, so would this be able to be made into a global option? I'll do a PR f

[2019-01-10 23:16] richard-viney commented on #298
Have done an initial PR for this: #299.

[2019-01-11 18:27] robclancy opened #300 "Can't use this without ember-data on 3.7"
I don't know what changed but now I'm getting and import error from the initializer.

If anyone else runs into this issue you can simply workaround it with `ember g initializer local-storage-adapter`.

[2019-01-13 03:19] sukima opened #302 "ember-data support removed when used by ember-twiddle"
The addon [removes all the ember-data support modules](https://github.com/funkensturm/ember-local-storage/blob/eece52d4c5ea1b528ed3e5dfc9eaa8c56be6fd3e/index.js#L112) which makes sense for projects that do not have ember-data as a dependency.

Unfortunately the checking logic depends on a `package.json` which does not exist in an ember-twiddle project.

I would like to suggest that there be a conf

[2019-01-14 21:31] fsmanuel opened #304 "Better docs"
Use https://github.com/ember-learn/ember-cli-addon-docs for docs

[2019-01-17 10:12] fsmanuel commented on #300
Hey @robclancy thanks for the feedback and the workaround. I'll have a look at it.

[2019-01-17 17:09] #302 closed

[2019-01-17 17:18] fsmanuel commented on #168
@Suven @vst @csprocket777 after almost a year I released the feature as version `1.6.0`. Sorry for the late release.

[2019-01-17 17:20] fsmanuel commented on #302
@sukima Released as `1.6.0`

[2019-01-17 17:23] fsmanuel commented on #300
@robclancy can you post the import error? Would be helpful!

[2019-01-18 02:07] vst commented on #168
@fsmanuel Thanks for the hard work and keeping us updated.

I am not quite sure when I will attend this, but I will update here or on a new issue if we see any problems.

[2019-01-18 20:22] robclancy commented on #300
Seems to be fixed with last update.

[2019-01-18 20:22] #300 closed

[2019-02-03 06:23] jmonster opened #305 "[Feature Request] Sets"
I just discovered _and love_ this addon. I'm successfully using the array component ... but then realized I actually need uniqueness and have application logic to ensure just that. However, my app could/will be simpler when a Set type becomes available 😬

[2019-02-03 19:56] fsmanuel commented on #305
What are the values you store in the array?

[2019-02-03 23:43] jmonster commented on #305
ids as strings (and then I have a computed property that observes the storage array and fetches the actual records)

[2019-02-04 09:55] fsmanuel commented on #305
@jmonster If you use `.addObject('123')` it should check for uniqueness. See the docs: https://www.emberjs.com/api/ember/3.7/classes/MutableArray/methods/addObject?anchor=addObject

[2019-02-05 23:36] jmonster commented on #305
Welp... thank you so much haha :) I wonder if that makes adding an O(n) operation then? Or if a Set is maintained internally to track uniqueness?

Might be cool to add a Set that just remaps push to add? That way you could still get some of the other Set properties (most importantly for me, O(1) lookups)

Anyway, thank you kindly! Much appreciated.

[2019-04-17 02:53] jrock2004 opened #309 "Ember 3.4.4 Models Not Setting On Browser Reload"
Been using this add-on for awhile and I have encountered an issue during an ember and addon upgrade that I need some help with. On an adapter for a model I have set the following

[code]
Looking at local storage I seem the model and I see the relationship just fine
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/655716/56257256-a66dfe80-6099-11e9-8f56-ff7b963a6047.png"

[2019-04-17 08:32] fsmanuel commented on #309
@jrock2004 Thanks for reporting! I'll take a look in the next days. The problems were introduced with 3.4, right?

[2019-04-17 10:55] jrock2004 commented on #309
@fsmanuel not sure if it was exactly 3.4 it started.

[2019-04-17 15:09] jrock2004 commented on #309
Seems like ember-data `3.2.2` is where the issue began

[2019-08-21 17:50] ammorrise commented on #259
For anyone who may be struggling with this: We discovered that adding the storage key to the `needs` array in your test seems to solve the problem.

In the route/controller:
[code]

In the test:
[code]

[2019-08-24 10:17] phcoliveira opened #313 "Allow dynamic prefix and suffix on storageFor."
Hello there, great library by the way.

So I need to keep things in local storage individually; nothing sensitive, but they need to be personal. This is what I am using:

[code]

This works but it is not so great, as I have to use `notifyPropertyChange` after changing `favorites`.

Using a prefix on config is useful for general purposes, but what happens if an addon wants to define its own prefix?

[2019-08-25 12:09] fsmanuel commented on #259
@ammorrise Thank you for that hint!

[2019-08-25 12:16] fsmanuel commented on #313
Hey @phcoliveira,
thanks for the feedback. I think what you want is already possible.
The `storageFor` accepts a second argument that should be a dependent key.
So for your example that should work:

[code]

The prefix is something I'll have to think about it.

[2019-08-25 12:32] phcoliveira commented on #313
Thanks, Manuel.

I have read the docs about that dependent key, but I thought it was about
serializing the whole object to be used by Ember Data again. It is a nice
thing that it already works the way you described, but can I argue that my
suggestion of explicitly passing `prefix` and `suffix` is simpler?

Kind regards,

Paulo H. C. de Oliveira
+351 933 179 408

Em dom, 25 de ago de 2019 às 14:16,

[2019-08-25 13:12] #313 closed

[2019-08-25 13:28] fsmanuel commented on #313
@phcoliveira if you have time to clarify the docs with an example that would be great.

[2019-08-25 13:30] #305 closed

[2019-08-25 13:32] fsmanuel commented on #305
Closing this for now. If you are interested in implementing a `Set` you are welcome to reopen it.

[2019-08-25 13:33] #77 closed

[2019-08-25 13:37] fsmanuel commented on #294
@AdminDev826 I'm closing this. If you still need help please reopen the issue.

[2019-08-25 13:37] #294 closed

[2019-08-25 13:43] #260 closed

[2019-08-26 07:11] phcoliveira commented on #313
Sure thing, I will do it in the next couple of days.

[2019-09-04 18:29] fsmanuel commented on #268
@kswilster it took some time but this problem should be resolved with the new version.

[2019-09-04 18:29] #268 closed

[2019-09-04 18:33] fsmanuel commented on #309
@jrock2004 could you solve the problem?

[2019-10-14 20:55] jrock2004 opened #314 "Support for peekAll and peekRecord"
Is there any plan on supporting peekRecord and All?

[2019-10-17 15:42] fsmanuel commented on #314
Hey @jrock2004 interesting question!
As `peekAll` and `peekRecord` are ember-data methods on the store they are available for you.
The adapter doesn't need to support it as it only operates on the internal store/cache.

If you think that this fact needs to be documented I'm happy to accept a PR.

[2019-10-19 13:12] jrock2004 commented on #314
Where I was confused was due to understanding on page reload, when the addon takes the localstorage and loads the data model.

So on reload I have to do `store.findAll` somewhere to get the cache switched to ember models. then after that peekRecords and such work. Or am I missing this again?

[2019-10-20 16:19] fsmanuel commented on #314
Hey @jrock2004, ok now I got your question. So in general you can always just use `findAll` and `findRecord` as the adapter is configured to do a background reload and will always first return the cached records from the store. As we only access the localStorage and don't have to talk to a server the overhead to fetch the new data is minimal.
Did that help with the confusion?

[2019-11-01 13:08] #314 closed

[2019-11-03 01:28] rwwagner90 opened #315 "Updating values outside of the addon"
I am having some issues where if I change localStorage manually, outside of Ember, then get the property with `storageFor` it does not update the values. Is there a way to notify the addon that things changed? I assumed `storageFor` would be doing basically `localStorage.getItem` but it appears to be getting old values.

[2019-11-05 10:01] fsmanuel commented on #315
Hey @rwwagner90
that is actually a good question. `storageFor` handles a proxy that probably doesn't get notified about the change. Can you provide an example? Is it an object or array?
I would have assumed that the event listener takes care of this but it's been always a bit buggy. So maybe we can figure this out now.

[2019-11-05 12:58] rwwagner90 commented on #315
@fsmanuel it was an object. For example, I had `storage:foo` and since localStorage doesn't support objects I did like:

[code]

[2019-11-30 21:11] rwwagner90 opened #316 "Can mirage be used for testing?"
I'm using the ember-data adapters from this addon, and I would like to write tests now. I setup some mirage fixtures, and loaded them, and it seems that the data is not loaded in. I am guessing because of the magic of the adapters. Is there any way to use this with mirage?

[2019-12-01 14:57] rwwagner90 commented on #316
It seems like something like this works:

[code]

We should decide how we want to best support Mirage and document it.

[2019-12-01 15:46] fsmanuel commented on #316
Hey @rwwagner90,
interesting question. I never tried to run mirage with ELS. As far as I understand, the goal of mirage is to mock your server. As ELS never talks to the server it’s kind of confusing to use mirage. But I get your point that testing has no story, yet.

A comment about your approach from above: That would just test the JSONAPIAdapter which is not too different to ELS Adapter but not

[2019-12-01 20:02] rwwagner90 commented on #316
@fsmanuel I have it working with Mirage currently. I would love if we could get a more official Mirage solution in place though.

[2020-01-17 01:54] rwwagner90 commented on #316
@fsmanuel have you given this any more thought? We're hitting some issues now where running the tests against a mirage setup that doesn't use ELS is causing issues.

[2020-01-17 12:51] fsmanuel commented on #316
Hey @rwwagner90, as I said I don't think we can use Mirage for the tests as ELS never issues a network request that Mirage can intercept. What you are doing is testing `JSONAPIAdapter`.

Are you on Discord? You can ping me there (fsmanuel) so we can talk about it.

[2020-01-17 14:01] fsmanuel commented on #316
As discussed on Discord, the idea is to use mirage db to populate LocalStorage.

[2020-01-17 14:02] fsmanuel commented on #316
Hey @samselikoff, do you have any input on that?

[2020-01-17 14:26] samselikoff commented on #316
Not really familiar with this addon – does it store network / ember-data payloads into localStorage?

You can call `server.db.dump()` to dump out Mirage's database, and `server.db.loadData(data)` to load it back in. Folks have used that before to make Mirage "persist" after a page reload.

[2020-01-18 13:41] fsmanuel commented on #316
@samselikoff thanks for the info and the pointer to `dump`. Yes, the addon stores JSON API payloads into localStorage.

[2020-01-18 13:52] fsmanuel commented on #316
@samselikoff looks like we could use this helper: https://www.ember-cli-mirage.com/docs/testing/integration-and-unit-tests#writing-a-helper-to-push-mirage-s-database

[2020-01-24 15:23] gedaiu opened #319 "The app can not be initialised when the local storage value is invalid"
It looks like if the stored value can't be parsed, an error is thrown and the default value will not be set.

[2020-01-27 12:17] fsmanuel commented on #319
Hey @gedaiu, do you have an example of the data?

[2020-01-27 12:53] gedaiu commented on #319
you can reproduce with any string that is not a json. You can try with something like this:
[code]

or with a random string
[code]

I think the problem is that the deserialization code assumes that the stored data is always valid.

[2020-01-27 13:55] fsmanuel commented on #319
What could be the right behavior if the deserialization doesn't work? Reset it to the initial data?

[2020-01-27 14:06] gedaiu commented on #319
I'm not sure... right now, I do something like this when I start the app:

[code]
but for me, it's not that critical if this data is lost.

i'm thinking that ideally, it would be nice to have something like this:
[code]
or allow the Storage object to serialize/deserialize the data, and handle the errors if there are any... just like ember transforms.

I am not sure how other people use this librar

[2020-03-03 13:43] danr1979 opened #320 "Issue when using storageFor with native classes"
Hi.

We are trying to use the storageFor function in our Ember service, which uses native JS classes rather than EmberObject.  I am doing the following to initialise:

[code]

and then setting values like so:

`this.localStorage.brandingPrimaryColour = 'red';`

but the values are not appearing in local storage.

Should ember-local-storage work with native classes or am I doing something wrong?

Th

[2020-03-03 14:06] #320 closed

[2020-05-09 19:27] wojtasss opened #321 "this.get('storage').reset is not a function"
set and get values from storagefor('storage') works without problem, but when I try use reset() or clear() then error occurs.

"ember-local-storage": "^1.7.2",

[code]

[code]

[2020-06-12 15:27] fsmanuel commented on #321
@wojtasss sorry for the late reaction. Can you tell me which ember version you are using?

[2020-06-13 11:05] fsmanuel commented on #321
@wojtasss this should work:

[code]

[2020-10-02 08:15] segemun opened #322 "DEPRECATION: The ... computed property was just overrider - error while using Ember.set function on the storageFor computed property"
Ember CLI version: 3.20.0

`items: storageFor('items')`
`set(this, 'items', {});`

Then I get an error:
DEPRECATION: The ...#items computed property was just overriden.

[2020-10-02 09:22] CvX commented on #322
Setting `this.items` to `{}` removes the storage property.

Take a look at the readme for examples on how to clear a storage object:

https://github.com/funkensturm/ember-local-storage#object

[code]

[2020-10-02 09:37] segemun commented on #322
Thanks.
What is the right way to rewrite items value from the code?

`items: storageFor('items')`
`const items = {test: 1, test: 2}`
`set(this, 'items', items)`

[2020-10-02 09:51] segemun commented on #322
As I understood, I can use such approach:
`items: storageFor('items')`
`const items = {test: 1, test: 2}`
`set(this, 'items.test', 1)`
`set(this, 'items._test', 2)`

Thanks

[2020-10-02 09:52] #322 closed

[2020-10-02 10:37] fsmanuel commented on #322
@segemun the sotrage is a proxy so in new versions of ember you can also do that:

[code]

[2020-11-20 11:10] eg271 opened #323 "Re-saving index key"
Using the LS adapter with Ember Data.  On a fresh load, with records already saved in LS:

If I do localStorage.clear() and then save a record, both the record and the index key for that model type are saved to LS.  If I repeat clearing and saving, the index key doesn´t save.  Is there a way to force the index key to save - presume this is some sort of internal caching issue?

[2020-11-20 12:21] eg271 commented on #323
More generally, the issue is how to update the LS to remove records that have had unloadRecord() called on them and so are no longer in the store

[2020-11-24 14:43] kikollovet opened #324 "resetStorages() on test reseting development Storage!"
Hello. I´m using ember-local-storage for tests. On the after hook I put resetStorages(). The issue that I´m having is that the development store is reseted too. Is there a way to only reset the store used on test? I had a look and saw that the method do storages = {}. I´m very new in development but I think maybe there is way to get the key of the storage used in tests... I don´t know....

[2020-11-24 17:29] kikollovet commented on #324
I friend figure out a way. I use session adapter for tests and just clear sessionStorage! I also added ember-local-storage to the envirornment test, so it uses different storage for tests.

[2021-04-29 21:28] jking6884 opened #325 "Is this addon expected to work with Ember Octane?"
I am seeing an issue with getting this addon to work with Ember 3.26, but it was previously working in 3.11.

[2021-04-29 21:42] jking6884 commented on #320
@danr1979 Were you able to resolve your issue (I'm guessing so since you closed this issue).  I was curious what the problem was for you.

[2021-04-30 04:29] danr1979 commented on #320
No, so I ended up writing my own native class ember service to interact with the browser's localstorage directly. It's not as fully featured as this addon but works with native classes.

[2021-04-30 09:24] fsmanuel commented on #325
@jking6884 It's supposed to work. I'm using it with `3.24.0`. What are the issues?

[2021-04-30 17:44] jking6884 commented on #325
There seems to be several problems, I think.

![image](https://user-images.githubusercontent.com/4825257/116733175-c723fb00-a9b9-11eb-8ca8-d5fd44ec6935.png)

This computed that is returned from `storageFor` never seems to fire the way it is set up.  I was thinking this was potentially because of the fact that the get/set functionality is not the same in the native classes in Octane.  At any rate,

[2021-04-30 18:48] fsmanuel commented on #325
You can use it like that:

[code]

[2021-04-30 18:50] fsmanuel commented on #320
@danr1979 that should work:

[code]

[2021-04-30 19:20] jking6884 commented on #325
@fsmanuel I have confirmed that it is indeed working when using it as a decorator.  Thanks for that clarification.

I think it would be a great idea to document this in the readme as it is currently not very clear how this addon should be used in the context of native classes with Octane.

[2021-04-30 19:25] fsmanuel commented on #325
@jking6884 good point. Will add documentation for native classes in the next days.

[2021-10-09 19:27] fsmanuel opened #329 "Enable all try-scenarios"
- [ ] ember-beta
- [ ] ember-canary

[2021-10-28 10:18] rnuyts opened #330 "Local storage issues with native classes (Ember octane)"
We use ember-source with version ~3.24.0.
I tried several solutions to make working the local storage in a Glimmer component (native class) without success.

Here are my investigations :

1) First solution

[code]

In this case, the value is not persisted in the local storage. So, when I re-render the component, the value displayed in console.log is always undefined.

2) Second solution : without

[2021-10-31 09:21] #330 closed

[2021-10-31 10:34] fsmanuel commented on #330
@rnuyts I release version `2.0` that includes the fix. Please let me know if you find more problems with native classes.

[2021-10-31 10:36] rnuyts commented on #330
Thank you @fsmanuel !
I will test it next week and will let you know if it’s OK from our side 👌

[2021-10-31 10:39] fsmanuel commented on #321
@wojtasss I'm closing the issue. If it's still a problem please reopen!

[2021-10-31 10:39] #321 closed

[2021-10-31 13:04] fsmanuel opened #335 "Roadmap: 2.x"
The main goals for upcoming 2.x releases are:

- [ ] Update the documentation to include examples for native classes
- [ ] Remove deprecations
- [ ] Make it Embroider ready
- [ ] Investigate/research opportunities native classes and tracked properties may enable
- [ ] Release and Changelog. Use [release-it-lerna-changelog
](https://github.com/rwjblue/release-it-lerna-changelog)

Join the discussio

[2021-10-31 13:27] fsmanuel commented on #150
Since FastBoot got released many years went by without any issues raised that demand better support. I think the only issue that might be raised is a visual glitch if the rendered FastBoot version that uses the defaults get replaced by the data from `LocalStorage` on rehydration.

I'll close the issue for now. If someone sees a need for actions please reopen the issue.

[2021-10-31 13:29] #34 closed

[2021-10-31 13:41] fsmanuel opened #336 "Use release-it-lerna-changelog for Release and Changelog"
- [x] Create lerna labels
- [x] Install and configure `release-it-lerna-changelog`

Refs:
https://github.com/lerna/lerna-changelog#usage
https://github.com/rwjblue/release-it-lerna-changelog

[2021-10-31 14:11] fsmanuel opened #337 "Make the storage backend configurable"
The discussion about suporting more storage backends has been sitting there for a while now https://github.com/funkensturm/ember-local-storage/issues/153, https://github.com/funkensturm/ember-local-storage/issues/255

The main blocker is that it requires an async api to the storage as both `localForage` and `chrome.storage.local` have an async api.

To not have breaking changes we would need to su

[2021-10-31 14:12] fsmanuel commented on #255
Superseeded by https://github.com/funkensturm/ember-local-storage/issues/337

[2021-10-31 14:12] #255 closed

[2021-10-31 14:12] fsmanuel commented on #4
Superseeded by https://github.com/funkensturm/ember-local-storage/issues/337

[2021-10-31 14:12] #4 closed

[2021-11-02 12:05] rnuyts commented on #330
@fsmanuel, I confirm that it's working in our app in version 2.0.0. Thank you for the fix !

[2021-11-04 11:37] fsmanuel commented on #330
@rnuyts great that it works!

[2022-01-05 10:14] pago opened #340 "Ember 4 compatibility"
We are in the process of trying to upgrade our Ember application to v4.
After upgrading, running the application fails due to `ember-local-storage` importing `deprecate` from `@ember/application/deprecations` in `addon/helpers/storage.js`, which does not exist.

This issue has already been fixed in this PR: https://github.com/funkensturm/ember-local-storage/pull/339/files
However, the currently re

[2022-01-05 13:16] fsmanuel commented on #340
Hey @pago, thanks for reporting. I'll release a new version with the deprecation fix.

[2022-01-05 13:23] fsmanuel commented on #340
@pago `v2.0.1` is released. Please let me know if you run in any other problems.

[2022-01-06 11:02] pago commented on #340
Thank you for the fast resolution. Works like a charm! We've been able to upgrade our app to Ember 4.

[2022-01-06 11:02] #340 closed

[2022-01-08 05:18] vlascik commented on #150
This addon actually breaks the app boot when `ember-cli-fastboot` is present. The error is
[code]
coming from `vendor/save-as.js`, as `window.navigator` doesn't exist in fastboot.

This kind of prevents either using this addon or fastboot at the same time.

[2022-01-11 11:11] fsmanuel commented on #150
Thanks @vlascik for reporting the issue. I'll reopen the issue and think about a solution.

[2022-01-14 12:51] fsmanuel commented on #150
@vlascik I never used `ember-cli-fastboot` and would appreaciate help with the error.
I opened https://github.com/funkensturm/ember-local-storage/pull/341 to tackle the problem.

[2022-01-14 13:53] fsmanuel opened #343 "Enable embroider-optimized try-scenario"

[2022-01-14 13:56] #329 closed

[2022-01-14 15:19] #325 closed

[2022-06-13 17:06] charlesfries opened #350 "`bowerDirectory` has been deprecated."
Seeing this buildtime warning using Ember CLI 4.4.0:

[code]

[code]

[2022-06-28 14:55] #350 closed

[2022-08-27 10:56] #336 closed

[2022-09-04 22:48] fsmanuel commented on #309
Because of inactivity I'm closing this. Feel free to reopen.

[2022-09-04 22:48] #309 closed

[2022-10-04 12:43] anandlall112 opened #364 "Dynamically use storage without initializing"
Hi fellas, i am building a dynamic app where i am integrating more than 200 apps that are plug and play. user can install them as needed. i really don't want to create a storage for each of them. so, Is there a way to use ember-local-storage dynamically without creating a storage class? as of current, to get pass this i am using `localforage` but would rather drop the dependency and use only `embe

[2022-10-10 07:18] fsmanuel commented on #364
Maybe you can use the `model` property: `storageFor(key, model)`

[2022-11-28 16:30] superlou opened #365 "Configure length of ID or generation algorithm"
Is it possible to add a configuration option specifying the length of the generated ID in https://github.com/funkensturm/ember-local-storage/blob/aa1f8377b028af7cc40a7fba5d99f44a22834971/addon/adapters/base.js#L40-L42?

My understanding is that currently the record ID is generated in a way to be used like a UUID. It is currently 8 characters with a radix of 32, so there are 5-bits per character an

[2022-11-29 13:26] superlou commented on #365
Sounds good. I just wanted to make sure there wasn't some gotcha with using a longer ID that had led to the current implementation.

[2022-11-29 13:26] #365 closed